.comment-pub {
  margin-top: 30px;
  .photo {
    display: inline-block;
    width: 60px;
    height: 60px;
    vertical-align: top;
    margin-right: 30px;
  }

  .reply-input {
    display: inline-block;
    width: 470px;
    vertical-align: top;
  }

  .reply-button-wrap {
    width: 100%;
    margin-top: 18px;
    text-align: right;
    #reply-button {
      width: 68px;
      height: 32px;
      padding-top: 5px;
    }
  }
}

#comments {
  .photo {
    display: inline-block;
    width: 60px;
    height: 60px;
    vertical-align: top;
    margin-right: 30px;
  }

  & > div:first-child {
    margin-top: 10px;
    border-top: 0;
  }

  & > div {
    padding: 16px 0 6px;
    border-top: 1px dotted #e5e5e5;
  }

  .reply-info {
    display: inline-block;
    width: 470px;
    vertical-align: top;
    color: #222;
  }

  .reply-author {
    font-size: 16px;
    margin-right: 10px;
  }

  .reply-time {
    font-size: 12px;
    color: #aeaeae;
  }
}