// Place all the styles related to the places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content-main {
  .photo-main {
    float: left;
  }
}

ul.pl_hotellist {
  list-style-type: none;
  padding: 0px;

  li {
    display: block;
    float: left;
    width: 224px;
    margin: 4px;
    border: 1px solid gainsboro;
    padding: 10px;
    height: 301px;
  }
}

#ticket {
  .sight_item {
    margin-bottom: 80px;

    .sight_item_show {
      float: left;
      margin-right: 20px;
      img {
        min-height: 120px;
        max-width: 200px;
        // height: 120px;
      }
    }

    .sight_in_tab {
      clear: both;
    }

    .sight_in_ticket {
      clear: both; 
      .name {
        width: 400px;
        margin: 0;
        float: left;
        line-height: 40px;
      }

      .cost_price, .lure_price, .save_price {
        float: left;
        line-height: 40px;
        margin-left: 20px;
      }

      .do {
        float: right;
        line-height: 40px;
      }

      .strike {
        text-decoration: line-through;
      }
    }

    .sight_item_hot, .sight_in_more {
      display: none;
    }
  }
}

ul.pla_poilist {
  padding: 0px;

  li {
    float: left;
    list-style: none;

    width: 200px;
    height: 300px;
    margin: 15px;
  }
}

.clrfix {
  clear: both;
}

.share {
  background-color: #f5f5f5;
  padding: 7px;

  #like-article {
    .liked {
      color: #FA3E74;
      margin-right: 5px;
    }
  }

  .webshare-icon-button {
    margin-left: 50px;

    .list-unstyled {
      display: none;
    }

    &:hover {
      .list-unstyled {
        // display: run-in;
      }
    }
  }


}

.place-card {
  .item-hd img {
    width: 170px;
    height: 170px;
  }

  .item-bt {
    text-align: center;
  }

  &:hover {
    text-decoration: none;  
  }

  &.thumbnail {
    background-image: none;
  }
}

.info {
  form.button_to {
    display: inline-block;
  }
}