// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.user-card {
  .button_to {
    display: inline-block;
  }

  border: 1px solid #aaa9a8;
  // width: 310px;
  width: 283px;
  min-height: 190px;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 14px;
  border-radius: 2px;
  color: #999;
  vertical-align: top;
  padding: 20px;

  .link-wrapper {
    float: left;
    
  }

  .avatar {
    height: 60px;
    width: 60px;
  }


  .right-col {
    margin-left: 10px;
    float: left;

    .name {
      vertical-align: top;
      font-size: 18px;
      display: block;
    }

    .actions {
      float: left;
      margin-top: 11px;
      margin-bottom: 0px;
    }
  }

  .line {
    padding-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e8e8e8;
  }
}

#review-author {
  .user-card {
    width: 100%;
    border: 0;
  }
}

.timeline {

  .media {
    overflow: visible;
  }

  .media-body {
    border: 1px solid #c9c9c9;
    color: #888;
    font-size: 13px;
    border-radius: 2px;
    position: relative;

    -webkit-box-shadow: 1px 1px 1px #aaa;
    -moz-box-shadow: 1px 1px 1px #aaa;
    box-shadow: 1px 1px 1px #aaa;

    &:hover {
      -webkit-box-shadow: 2px 2px 2px #aaa;
      -moz-box-shadow: 2px 2px 2px #aaa;
      box-shadow: 2px 2px 2px #aaa;
    }

    padding: 8px;
    padding-bottom: 40px;

    .bt {
      background-color: #f7f7f7;
      height: 22px;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      border-top: 1px solid #ddd;

      .time {
        margin-left: 20px;
      }

      .like-article, .comments-article {
        margin-right: 30px;
        .fa {
          margin-right: 10px;
        }
      }
    }   
  }
}

.comment-board {
  #comments {
    .reply-info {
      width: 190px;
    }
  }

  #new_comment {
    .photo-wrapper {
      width: inherit;
    }

    .reply-input {
      width: 199px;
    }
  }
}

#timeline-wrapper {
  padding: 0;
  .vco-slider {
    padding-top:0;
  }
}