<div class="col-md-8">
  <div class="content-main highlight">
    <p id="notice"></p>

    <div class="row">
      <img alt="P1931122747" class="col-md-5" src="/img/p1931122747.jpg">

      <div class="col-md-7">
        <h2>Bangkok</h2>
        <p>曼谷是泰国首都与最大城市，在当地华人社区亦作泰京，为泰国政治、经济、贸易、交通、文化、科技、教育、与各方面中心。位于昭披耶河东岸，近暹罗湾。</p>

        <!-- JiaThis Button BEGIN -->
        <div class="jiathis_style">
          <a class="jiathis_button_qzone" title="分享到QQ空间"><span class="jiathis_txt jtico jtico_qzone"></span></a>
          <a class="jiathis_button_tsina" title="分享到新浪微博"><span class="jiathis_txt jtico jtico_tsina"></span></a>
          <a class="jiathis_button_tqq" title="分享到腾讯微博"><span class="jiathis_txt jtico jtico_tqq"></span></a>
          <a class="jiathis_button_renren" title="分享到人人网"><span class="jiathis_txt jtico jtico_renren"></span></a>
          <a class="jiathis_button_kaixin001" title="分享到开心网"><span class="jiathis_txt jtico jtico_kaixin001"></span></a>
          <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
          <a class="jiathis_counter_style"><span class="jiathis_button_expanded jiathis_counter jiathis_bubble_style" id="jiathis_counter_15" title="累计分享0次">0</span></a>
        </div>
        <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1384522448771465" charset="utf-8"></script>
        <!-- JiaThis Button END -->
      </div>

    </div>
  </div>

   <div class="content-main highlight">
    <h1>自选助手</h1>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, asperiores, perferendis a eveniet ipsa ea deleniti minus ut doloribus minima provident perspiciatis fuga velit pariatur quasi molestias eum molestiae excepturi?

    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, hic, quod, velit dicta deserunt assumenda earum autem optio ipsam tempore corporis praesentium sapiente officia officiis corrupti ipsa animi veniam quaerat.
  </div>

<div class="content-main highlight">
  <h1>配套服务</h1>
  <div class="bs-example">
    <ul class="nav nav-tabs" style="margin-bottom: 15px;">
      <li class=""><a href="#hotel" data-toggle="tab">食宿</a></li>
      <li class="active"><a href="#ticket" data-toggle="tab">票务</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade" id="hotel">
        <ul class="pl_hotellist clearfix">
          <li class="item">
            <p class="pic">
              <a href="http://www.qyer.com/goto.php?url=http%3A%2F%2Fwww.booking.com%2Fhotel%2Fth%2Fshadow-inn.html%3Faid%3D355696%26label%3Duid_3139040_guid_7a176d68-5850-4f49-b739-3119bc908530%26checkin_year_month%3D2013-12%26checkin_monthday%3D16%26checkout_year_month%3D2013-12%26checkout_monthday%3D21&amp;hotel_name=Shadow+Inn" target="_blank">
                <img src="http://static.qyer.com/upload/business/base/hotel/e1/16/e11679f1fef0c8fad0a05a786a8f02a7.t.200_133.jpeg" width="200" height="133" alt="">
              </a>
            </p>
            <p class="name"><a href="http://www.qyer.com/goto.php?url=http%3A%2F%2Fwww.booking.com%2Fhotel%2Fth%2Fshadow-inn.html%3Faid%3D355696%26label%3Duid_3139040_guid_7a176d68-5850-4f49-b739-3119bc908530%26checkin_year_month%3D2013-12%26checkin_monthday%3D16%26checkout_year_month%3D2013-12%26checkout_monthday%3D21&amp;hotel_name=Shadow+Inn" target="_blank">Shadow Inn</a></p>
            <p class="pricelay">
              <span class="price">
                THB 
                <em>
                  130                        </em>
                </span>
                <span class="arrow"></span>
              </p>
              <p class="locate">
                靠近
                曼谷卧佛寺
                <span class="gap">、</span>
                曼谷大王宫
              </p>
              <div class="info clearfix">
                <span class="star">
                  <img src="http://static.qyer.com/images/place/four/hotel_star.png" alt="">
                </span>
              </div>
              <p class="btnlay">
                <a href="http://www.qyer.com/goto.php?url=http%3A%2F%2Fwww.booking.com%2Fhotel%2Fth%2Fshadow-inn.html%3Faid%3D355696%26label%3Duid_3139040_guid_7a176d68-5850-4f49-b739-3119bc908530%26checkin_year_month%3D2013-12%26checkin_monthday%3D16%26checkout_year_month%3D2013-12%26checkout_monthday%3D21&amp;hotel_name=Shadow+Inn" target="_blank" class="btn">立即预订</a>
              </p>
            </li>
            <li class="item">
              <p class="pic">
                <a href="http://www.qyer.com/goto.php?url=http%3A%2F%2Fwww.booking.com%2Fhotel%2Fth%2Fcentaur-inn.html%3Faid%3D355696%26label%3Duid_3139040_guid_7a176d68-5850-4f49-b739-3119bc908530%26checkin_year_month%3D2013-12%26checkin_monthday%3D16%26checkout_year_month%3D2013-12%26checkout_monthday%3D21&amp;hotel_name=Centaur+Inn" target="_blank">
                  <img src="http://static.qyer.com/upload/business/base/hotel/fe/d2/fed2e0dce7c6f57e8516cb1d25cd45b8.t.200_133.jpeg" width="200" height="133" alt="">
                </a>
              </p>
              <p class="name"><a href="http://www.qyer.com/goto.php?url=http%3A%2F%2Fwww.booking.com%2Fhotel%2Fth%2Fcentaur-inn.html%3Faid%3D355696%26label%3Duid_3139040_guid_7a176d68-5850-4f49-b739-3119bc908530%26checkin_year_month%3D2013-12%26checkin_monthday%3D16%26checkout_year_month%3D2013-12%26checkout_monthday%3D21&amp;hotel_name=Centaur+Inn" target="_blank">Centaur Inn</a></p>
              <p class="pricelay">
                <span class="price">
                  THB 
                  <em>
                    130                        </em>
                  </span>
                  <span class="arrow"></span>
                </p>
                <p class="locate">
                  靠近
                  湄南河公交船
                  <span class="gap">、</span>
                  曼谷华南蓬火车站
                </p>
                <div class="info clearfix">
                  <span class="star">

                  </span>
                </div>
                <p class="btnlay">
                  <a href="http://www.qyer.com/goto.php?url=http%3A%2F%2Fwww.booking.com%2Fhotel%2Fth%2Fcentaur-inn.html%3Faid%3D355696%26label%3Duid_3139040_guid_7a176d68-5850-4f49-b739-3119bc908530%26checkin_year_month%3D2013-12%26checkin_monthday%3D16%26checkout_year_month%3D2013-12%26checkout_monthday%3D21&amp;hotel_name=Centaur+Inn" target="_blank" class="btn">立即预订</a>
                </p>
              </li>
              <li class="item">
                <p class="pic">
                  <a href="http://www.qyer.com/goto.php?url=http%3A%2F%2Fwww.booking.com%2Fhotel%2Fth%2Fphiman-riverview-guesthouse.html%3Faid%3D355696%26label%3Duid_3139040_guid_7a176d68-5850-4f49-b739-3119bc908530%26checkin_year_month%3D2013-12%26checkin_monthday%3D16%26checkout_year_month%3D2013-12%26checkout_monthday%3D21&amp;hotel_name=Phiman+Riverview+Guesthouse" target="_blank">
                    <img src="http://static.qyer.com/upload/business/base/hotel/2a/b5/2ab5bb913367457bc99f73e3868a5d17.t.200_133.jpeg" width="200" height="133" alt="">
                  </a>
                </p>
                <p class="name"><a href="http://www.qyer.com/goto.php?url=http%3A%2F%2Fwww.booking.com%2Fhotel%2Fth%2Fphiman-riverview-guesthouse.html%3Faid%3D355696%26label%3Duid_3139040_guid_7a176d68-5850-4f49-b739-3119bc908530%26checkin_year_month%3D2013-12%26checkin_monthday%3D16%26checkout_year_month%3D2013-12%26checkout_monthday%3D21&amp;hotel_name=Phiman+Riverview+Guesthouse" target="_blank">Phiman Riverview Guesthouse</a></p>
                <p class="pricelay">
                  <span class="price">
                    THB 
                    <em>
                      180                        </em>
                    </span>
                    <span class="arrow"></span>
                  </p>
                  <p class="locate">
                    靠近
                    逛考山路
                    <span class="gap">、</span>
                    玉佛寺
                  </p>
                  <div class="info clearfix">
                    <span class="star">

                    </span>
                  </div>
                  <p class="btnlay">
                    <a href="http://www.qyer.com/goto.php?url=http%3A%2F%2Fwww.booking.com%2Fhotel%2Fth%2Fphiman-riverview-guesthouse.html%3Faid%3D355696%26label%3Duid_3139040_guid_7a176d68-5850-4f49-b739-3119bc908530%26checkin_year_month%3D2013-12%26checkin_monthday%3D16%26checkout_year_month%3D2013-12%26checkout_monthday%3D21&amp;hotel_name=Phiman+Riverview+Guesthouse" target="_blank" class="btn">立即预订</a>
                  </p>
                </li>
                <li class="item">
                  <p class="pic">
                    <a href="http://www.qyer.com/goto.php?url=http%3A%2F%2Fwww.booking.com%2Fhotel%2Fth%2Famazing-house.html%3Faid%3D355696%26label%3Duid_3139040_guid_7a176d68-5850-4f49-b739-3119bc908530%26checkin_year_month%3D2013-12%26checkin_monthday%3D16%26checkout_year_month%3D2013-12%26checkout_monthday%3D21&amp;hotel_name=Amazing+House" target="_blank">
                      <img src="http://static.qyer.com/upload/business/base/hotel/29/35/293559566d53a9a95904aec5c011c3e7.t.200_133.jpeg" width="200" height="133" alt="">
                    </a>
                  </p>
                  <p class="name"><a href="http://www.qyer.com/goto.php?url=http%3A%2F%2Fwww.booking.com%2Fhotel%2Fth%2Famazing-house.html%3Faid%3D355696%26label%3Duid_3139040_guid_7a176d68-5850-4f49-b739-3119bc908530%26checkin_year_month%3D2013-12%26checkin_monthday%3D16%26checkout_year_month%3D2013-12%26checkout_monthday%3D21&amp;hotel_name=Amazing+House" target="_blank">Amazing House</a></p>
                  <p class="pricelay">
                    <span class="price">
                      THB 
                      <em>
                        220                        </em>
                      </span>
                      <span class="arrow"></span>
                    </p>
                    <p class="locate">
                      靠近
                      逛考山路
                      <span class="gap">、</span>
                      玉佛寺
                    </p>
                    <div class="info clearfix">
                      <span class="star">
                        <img src="http://static.qyer.com/images/place/four/hotel_star.png" alt="">
                      </span>
                    </div>
                    <p class="btnlay">
                      <a href="http://www.qyer.com/goto.php?url=http%3A%2F%2Fwww.booking.com%2Fhotel%2Fth%2Famazing-house.html%3Faid%3D355696%26label%3Duid_3139040_guid_7a176d68-5850-4f49-b739-3119bc908530%26checkin_year_month%3D2013-12%26checkin_monthday%3D16%26checkout_year_month%3D2013-12%26checkout_monthday%3D21&amp;hotel_name=Amazing+House" target="_blank" class="btn">立即预订</a>
                    </p>
                  </li>
                  <li class="item">
                    <p class="pic">
                      <a href="http://www.qyer.com/goto.php?url=http%3A%2F%2Fwww.booking.com%2Fhotel%2Fth%2Fmadee.html%3Faid%3D355696%26label%3Duid_3139040_guid_7a176d68-5850-4f49-b739-3119bc908530%26checkin_year_month%3D2013-12%26checkin_monthday%3D16%26checkout_year_month%3D2013-12%26checkout_monthday%3D21&amp;hotel_name=Madee+Hostel" target="_blank">
                        <img src="http://static.qyer.com/upload/business/base/hotel/7f/f8/7ff8e496fc051e589b0c422fcfd5bb82.t.200_133.jpeg" width="200" height="133" alt="">
                      </a>
                    </p>
                    <p class="name"><a href="http://www.qyer.com/goto.php?url=http%3A%2F%2Fwww.booking.com%2Fhotel%2Fth%2Fmadee.html%3Faid%3D355696%26label%3Duid_3139040_guid_7a176d68-5850-4f49-b739-3119bc908530%26checkin_year_month%3D2013-12%26checkin_monthday%3D16%26checkout_year_month%3D2013-12%26checkout_monthday%3D21&amp;hotel_name=Madee+Hostel" target="_blank">Madee Hostel</a></p>
                    <p class="pricelay">
                      <span class="price">
                        THB 
                        <em>
                          230                        </em>
                        </span>
                        <span class="arrow"></span>
                      </p>
                      <p class="locate">
                        靠近
                        曼谷大学艺术画廊
                        <span class="gap">、</span>
                        曼谷汽车东站
                      </p>
                      <div class="info clearfix">
                        <span class="star">

                        </span>
                      </div>
                      <p class="btnlay">
                        <a href="http://www.qyer.com/goto.php?url=http%3A%2F%2Fwww.booking.com%2Fhotel%2Fth%2Fmadee.html%3Faid%3D355696%26label%3Duid_3139040_guid_7a176d68-5850-4f49-b739-3119bc908530%26checkin_year_month%3D2013-12%26checkin_monthday%3D16%26checkout_year_month%3D2013-12%26checkout_monthday%3D21&amp;hotel_name=Madee+Hostel" target="_blank" class="btn">立即预订</a>
                      </p>
                    </li>
                    <li class="item">
                      <p class="pic">
                        <a href="http://www.qyer.com/goto.php?url=http%3A%2F%2Fwww.booking.com%2Fhotel%2Fth%2Fde-talak-hostel.html%3Faid%3D355696%26label%3Duid_3139040_guid_7a176d68-5850-4f49-b739-3119bc908530%26checkin_year_month%3D2013-12%26checkin_monthday%3D16%26checkout_year_month%3D2013-12%26checkout_monthday%3D21&amp;hotel_name=De+Talak+Hostel" target="_blank">
                          <img src="http://static.qyer.com/upload/business/base/hotel/9c/1c/9c1c6ff5feef365158b3270a505689c6.t.200_133.jpeg" width="200" height="133" alt="">
                        </a>
                      </p>
                      <p class="name"><a href="http://www.qyer.com/goto.php?url=http%3A%2F%2Fwww.booking.com%2Fhotel%2Fth%2Fde-talak-hostel.html%3Faid%3D355696%26label%3Duid_3139040_guid_7a176d68-5850-4f49-b739-3119bc908530%26checkin_year_month%3D2013-12%26checkin_monthday%3D16%26checkout_year_month%3D2013-12%26checkout_monthday%3D21&amp;hotel_name=De+Talak+Hostel" target="_blank">De Talak Hostel</a></p>
                      <p class="pricelay">
                        <span class="price">
                          THB 
                          <em>
                            238                        </em>
                          </span>
                          <span class="arrow"></span>
                        </p>
                        <p class="locate">
                          靠近
                          安全套餐厅
                          <span class="gap">、</span>
                          泰拳竞技场
                        </p>
                        <div class="info clearfix">
                          <span class="star">
                            <img src="http://static.qyer.com/images/place/four/hotel_star.png" alt=""><img src="http://static.qyer.com/images/place/four/hotel_star.png" alt=""><img src="http://static.qyer.com/images/place/four/hotel_star.png" alt="">
                          </span>
                        </div>
                        <p class="btnlay">
                          <a href="http://www.qyer.com/goto.php?url=http%3A%2F%2Fwww.booking.com%2Fhotel%2Fth%2Fde-talak-hostel.html%3Faid%3D355696%26label%3Duid_3139040_guid_7a176d68-5850-4f49-b739-3119bc908530%26checkin_year_month%3D2013-12%26checkin_monthday%3D16%26checkout_year_month%3D2013-12%26checkout_monthday%3D21&amp;hotel_name=De+Talak+Hostel" target="_blank" class="btn">立即预订</a>
                        </p>
                      </li>
                      <li class="item">
                        <p class="pic">
                          <a href="http://www.qyer.com/goto.php?url=http%3A%2F%2Fwww.booking.com%2Fhotel%2Fth%2Fqueen-suriya-s-castle.html%3Faid%3D355696%26label%3Duid_3139040_guid_7a176d68-5850-4f49-b739-3119bc908530%26checkin_year_month%3D2013-12%26checkin_monthday%3D16%26checkout_year_month%3D2013-12%26checkout_monthday%3D21&amp;hotel_name=Queen+Suriya%27s+Castle" target="_blank">
                            <img src="http://static.qyer.com/upload/business/base/hotel/ec/9a/ec9aac1ccf5e125f8dda6bbd67321723.t.200_133.jpeg" width="200" height="133" alt="">
                          </a>
                        </p>
                        <p class="name"><a href="http://www.qyer.com/goto.php?url=http%3A%2F%2Fwww.booking.com%2Fhotel%2Fth%2Fqueen-suriya-s-castle.html%3Faid%3D355696%26label%3Duid_3139040_guid_7a176d68-5850-4f49-b739-3119bc908530%26checkin_year_month%3D2013-12%26checkin_monthday%3D16%26checkout_year_month%3D2013-12%26checkout_monthday%3D21&amp;hotel_name=Queen+Suriya%27s+Castle" target="_blank">Queen Suriya's Castle</a></p>
                        <p class="pricelay">
                          <span class="price">
                            THB 
                            <em>
                              250                        </em>
                            </span>
                            <span class="arrow"></span>
                          </p>
                          <p class="locate">
                            靠近
                            逛考山路
                            <span class="gap">、</span>
                            玉佛寺
                          </p>
                          <div class="info clearfix">
                            <span class="star">
                              <img src="http://static.qyer.com/images/place/four/hotel_star.png" alt=""><img src="http://static.qyer.com/images/place/four/hotel_star.png" alt=""><img src="http://static.qyer.com/images/place/four/hotel_star.png" alt="">
                            </span>
                          </div>
                          <p class="btnlay">
                            <a href="http://www.qyer.com/goto.php?url=http%3A%2F%2Fwww.booking.com%2Fhotel%2Fth%2Fqueen-suriya-s-castle.html%3Faid%3D355696%26label%3Duid_3139040_guid_7a176d68-5850-4f49-b739-3119bc908530%26checkin_year_month%3D2013-12%26checkin_monthday%3D16%26checkout_year_month%3D2013-12%26checkout_monthday%3D21&amp;hotel_name=Queen+Suriya%27s+Castle" target="_blank" class="btn">立即预订</a>
                          </p>
                        </li>
                        <li class="item">
                          <p class="pic">
                            <a href="http://www.qyer.com/goto.php?url=http%3A%2F%2Fwww.booking.com%2Fhotel%2Fth%2Fthe-urban-age.html%3Faid%3D355696%26label%3Duid_3139040_guid_7a176d68-5850-4f49-b739-3119bc908530%26checkin_year_month%3D2013-12%26checkin_monthday%3D16%26checkout_year_month%3D2013-12%26checkout_monthday%3D21&amp;hotel_name=The+Urban+Age" target="_blank">
                              <img src="http://static.qyer.com/upload/business/base/hotel/b3/41/b34165719d21b59903e0b8786dedf86d.t.200_133.jpeg" width="200" height="133" alt="">
                            </a>
                          </p>
                          <p class="name"><a href="http://www.qyer.com/goto.php?url=http%3A%2F%2Fwww.booking.com%2Fhotel%2Fth%2Fthe-urban-age.html%3Faid%3D355696%26label%3Duid_3139040_guid_7a176d68-5850-4f49-b739-3119bc908530%26checkin_year_month%3D2013-12%26checkin_monthday%3D16%26checkout_year_month%3D2013-12%26checkout_monthday%3D21&amp;hotel_name=The+Urban+Age" target="_blank">The Urban Age</a></p>
                          <p class="pricelay">
                            <span class="price">
                              THB 
                              <em>
                                280                        </em>
                              </span>
                              <span class="arrow"></span>
                            </p>
                            <p class="locate">
                              靠近
                              曼谷地铁
                              <span class="gap">、</span>
                              Super Rich 1965
                            </p>
                            <div class="info clearfix">
                              <span class="star">
                                <img src="http://static.qyer.com/images/place/four/hotel_star.png" alt=""><img src="http://static.qyer.com/images/place/four/hotel_star.png" alt="">
                              </span>
                            </div>
                            <p class="btnlay">
                              <a href="http://www.qyer.com/goto.php?url=http%3A%2F%2Fwww.booking.com%2Fhotel%2Fth%2Fthe-urban-age.html%3Faid%3D355696%26label%3Duid_3139040_guid_7a176d68-5850-4f49-b739-3119bc908530%26checkin_year_month%3D2013-12%26checkin_monthday%3D16%26checkout_year_month%3D2013-12%26checkout_monthday%3D21&amp;hotel_name=The+Urban+Age" target="_blank" class="btn">立即预订</a>
                            </p>
                          </li>
                          <li class="item">
                            <p class="pic">
                              <a href="http://www.qyer.com/goto.php?url=http%3A%2F%2Fwww.booking.com%2Fhotel%2Fth%2Fmile-map-hostel.html%3Faid%3D355696%26label%3Duid_3139040_guid_7a176d68-5850-4f49-b739-3119bc908530%26checkin_year_month%3D2013-12%26checkin_monthday%3D16%26checkout_year_month%3D2013-12%26checkout_monthday%3D21&amp;hotel_name=Mile+Map+Hostel" target="_blank">
                                <img src="http://static.qyer.com/upload/business/base/hotel/d2/7a/d27a7076f1f5ac6c784af8ea1ff6a30e.t.200_133.jpeg" width="200" height="133" alt="">
                              </a>
                            </p>
                            <p class="name"><a href="http://www.qyer.com/goto.php?url=http%3A%2F%2Fwww.booking.com%2Fhotel%2Fth%2Fmile-map-hostel.html%3Faid%3D355696%26label%3Duid_3139040_guid_7a176d68-5850-4f49-b739-3119bc908530%26checkin_year_month%3D2013-12%26checkin_monthday%3D16%26checkout_year_month%3D2013-12%26checkout_monthday%3D21&amp;hotel_name=Mile+Map+Hostel" target="_blank">Mile Map Hostel</a></p>
                            <p class="pricelay">
                              <span class="price">
                                THB 
                                <em>
                                  295                        </em>
                                </span>
                                <span class="arrow"></span>
                              </p>
                              <p class="locate">
                                靠近
                                曼谷地铁
                                <span class="gap">、</span>
                                湄南河公交船
                              </p>
                              <div class="info clearfix">
                                <span class="star">
                                  <img src="http://static.qyer.com/images/place/four/hotel_star.png" alt=""><img src="http://static.qyer.com/images/place/four/hotel_star.png" alt="">
                                </span>
                              </div>
                              <p class="btnlay">
                                <a href="http://www.qyer.com/goto.php?url=http%3A%2F%2Fwww.booking.com%2Fhotel%2Fth%2Fmile-map-hostel.html%3Faid%3D355696%26label%3Duid_3139040_guid_7a176d68-5850-4f49-b739-3119bc908530%26checkin_year_month%3D2013-12%26checkin_monthday%3D16%26checkout_year_month%3D2013-12%26checkout_monthday%3D21&amp;hotel_name=Mile+Map+Hostel" target="_blank" class="btn">立即预订</a>
                              </p>
                            </li>
                          </ul>
                        </div>
                        <div class="tab-pane fade active in" id="ticket">
                          <div class="search_result" id="search-result-container">
                            <div class="result_list" id="search-list" style="display: block;"><div class="sight_item" data-id="1897121058"><div class="sight_item_detail clrfix"><div class="sight_item_show"><div class="show loading"><a data-click-type="l_pic" href="/ticket/detail_1897121058.html#from=" target="_blank" hidefocus="true" title="暹罗海洋世界"><img data-original="http://img1.qunarzz.com/sight/p0/201307/03/c179cdff45e2e141c8d65eac.jpg_238x180x90_10e58128.jpg" alt="暹罗海洋世界" class="img_opacity load" "onerror="this.src='http://source.qunar.com/piao/images/loading_camel_gray.gif'" src="http://img1.qunarzz.com/sight/p0/201307/03/c179cdff45e2e141c8d65eac.jpg_238x180x90_10e58128.jpg"></a></div></div><div class="sight_item_about"><h3 class="sight_item_caption"><a data-click-type="l_title" class="name" href="/ticket/detail_1897121058.html#from=" target="_blank" hidefocus="true" title="暹罗海洋世界">暹罗海洋世界</a><span class="area">[<a href="/ticket/list_曼谷.html#from=" target="_blank" hidefocus="true" title="曼谷">曼谷</a>]</span></h3><p class="intro" title="位于暹罗购物中心B1及B2二个楼层，面积高达10,000平方公尺的暹罗海洋世界，是座世界级，也是全东南亚最大的水族馆。馆">位于暹罗购物中心B1及B2二个楼层，面积高达10,000平方公尺的暹罗海洋世界，是座世界级，也是全东南亚最大的水族馆。馆</p><p class="address">地址：Siam Paragon, Thanon Rama I<a href="javascript:void(0)" hidefocus="true" class="map_address blue" data-sightid="1897121058">查看地图</a></p><div class="sight_belong_relation"></div></div><div class="sight_in_tab"><a href="javascript:vodi(0)" hidefocus="true" class="active"><span>景点门票</span></a></div><div class="sight_in_cont"><div class="tab_cont" style="display:block;"><div class="sight_in_ticket first"><h4 class="name"><a data-click-type="l_detail" href="/ticket/detail_1897121058.html#from=&amp;tid=8042" target="_blank" hidefocus="true" class="dark_blue" title="暹罗海洋世界成人票">暹罗海洋世界成人票</a></h4><div class="cost_price strike"><span class="price">¥<em>180</em></span>起</div><div class="lure_price"><span class="price txt_orange">¥<em>105</em></span>起</div><div class="save_price"><span class="save_wrap"><strong class="save">省</strong><span class="price">¥<em>75</em></span></span></div><div class="do"><a data-click-type="l_detail" href="/ticket/detail_1897121058.html#from=&amp;tid=8042" target="_blank" hidefocus="true">查看</a></div></div><div class="sight_in_ticket"><h4 class="name"><a data-click-type="l_detail" href="/ticket/detail_1897121058.html#from=&amp;tid=31237" target="_blank" hidefocus="true" class="dark_blue" title="暹罗海洋世界儿童票">暹罗海洋世界儿童票</a></h4><div class="cost_price strike"><span class="price">¥<em>140</em></span>起</div><div class="lure_price"><span class="price txt_orange">¥<em>85</em></span>起</div><div class="save_price"><span class="save_wrap"><strong class="save">省</strong><span class="price">¥<em>55</em></span></span></div><div class="do"><a data-click-type="l_detail" href="/ticket/detail_1897121058.html#from=&amp;tid=31237" target="_blank" hidefocus="true">查看</a></div></div></div></div><div class="sight_item_hot"><span class="product_star_level"><em title="热度 3.5/5"><span style="width:70%;">热度 3.5/5</span></em></span>热度</div></div></div><div class="sight_item" data-id="3140209920"><div class="sight_item_detail clrfix"><div class="sight_item_show"><div class="show loading"><a data-click-type="l_pic" href="/ticket/detail_3140209920.html#from=" target="_blank" hidefocus="true" title="杜莎夫人蜡像馆"><img data-original="http://img1.qunarzz.com/sight/p0/201304/24/aaf2de694b3c45b5c8d65eac.png_238x180x90_bdab00f4.png" alt="杜莎夫人蜡像馆" class="img_opacity load" "onerror="this.src='http://source.qunar.com/piao/images/loading_camel_gray.gif'" src="http://img1.qunarzz.com/sight/p0/201304/24/aaf2de694b3c45b5c8d65eac.png_238x180x90_bdab00f4.png"></a></div></div><div class="sight_item_about"><h3 class="sight_item_caption"><a data-click-type="l_title" class="name" href="/ticket/detail_3140209920.html#from=" target="_blank" hidefocus="true" title="杜莎夫人蜡像馆">杜莎夫人蜡像馆</a><span class="area">[<a href="/ticket/list_曼谷.html#from=" target="_blank" hidefocus="true" title="曼谷">曼谷</a>]</span></h3><p class="intro" title="曼谷杜莎夫人蜡像馆是一座建成才两年的新馆，位于Siam Discovery商场6楼，里面有泰国国内外的各大著名政治人物或">曼谷杜莎夫人蜡像馆是一座建成才两年的新馆，位于Siam Discovery商场6楼，里面有泰国国内外的各大著名政治人物或</p><p class="address">地址：Madame Tussauds, Siam Discovery, 6th Floor, 989 Rama 1 Road, Pathumwan, Bangkok 10330<a href="javascript:void(0)" hidefocus="true" class="map_address blue" data-sightid="3140209920">查看地图</a></p><div class="sight_belong_relation"></div></div><div class="sight_in_tab"><a href="javascript:vodi(0)" hidefocus="true" class="active"><span>景点门票</span></a></div><div class="sight_in_cont"><div class="tab_cont" style="display:block;"><div class="sight_in_ticket first"><h4 class="name"><a data-click-type="l_detail" href="/ticket/detail_3140209920.html#from=&amp;tid=8083" target="_blank" hidefocus="true" class="dark_blue" title="杜莎夫人蜡像馆成人票">杜莎夫人蜡像馆成人票</a></h4><div class="cost_price strike"><span class="price">¥<em>180</em></span>起</div><div class="lure_price"><span class="price txt_orange">¥<em>99</em></span>起</div><div class="save_price"><span class="save_wrap"><strong class="save">省</strong><span class="price">¥<em>81</em></span></span></div><div class="do"><a data-click-type="l_detail" href="/ticket/detail_3140209920.html#from=&amp;tid=8083" target="_blank" hidefocus="true">查看</a></div></div><div class="sight_in_ticket"><h4 class="name"><a data-click-type="l_detail" href="/ticket/detail_3140209920.html#from=&amp;tid=24170" target="_blank" hidefocus="true" class="dark_blue" title="杜莎夫人蜡像馆儿童票">杜莎夫人蜡像馆儿童票</a></h4><div class="cost_price strike"><span class="price">¥<em>130</em></span>起</div><div class="lure_price"><span class="price txt_orange">¥<em>85</em></span>起</div><div class="save_price"><span class="save_wrap"><strong class="save">省</strong><span class="price">¥<em>45</em></span></span></div><div class="do"><a data-click-type="l_detail" href="/ticket/detail_3140209920.html#from=&amp;tid=24170" target="_blank" hidefocus="true">查看</a></div></div></div></div><div class="sight_item_hot"><span class="product_star_level"><em title="热度 3.5/5"><span style="width:70%;">热度 3.5/5</span></em></span>热度</div></div></div><div class="sight_item" data-id="3450136463"><div class="sight_item_detail clrfix"><div class="sight_item_show"><div class="show loading"><a data-click-type="l_pic" href="/ticket/detail_3450136463.html#from=" target="_blank" hidefocus="true" title="克里普索人妖秀"><img data-original="http://img1.qunarzz.com/sight/p0/201309/04/14f2941ac35af21ac8d65eac.jpg_238x180x90_d7fd5706.jpg" alt="克里普索人妖秀" class="img_opacity load" "onerror="this.src='http://source.qunar.com/piao/images/loading_camel_gray.gif'" src="http://img1.qunarzz.com/sight/p0/201309/04/14f2941ac35af21ac8d65eac.jpg_238x180x90_d7fd5706.jpg"></a></div></div><div class="sight_item_about"><h3 class="sight_item_caption"><a data-click-type="l_title" class="name" href="/ticket/detail_3450136463.html#from=" target="_blank" hidefocus="true" title="克里普索人妖秀">克里普索人妖秀</a><span class="area">[<a href="/ticket/list_曼谷.html#from=" target="_blank" hidefocus="true" title="曼谷">曼谷</a>]</span></h3><p class="intro" title="Calypso表演已有二十多年历史，2012年搬到了曼谷新兴娱乐中心Asiatique，舞台有了新突破，灯光设计有创新，">Calypso表演已有二十多年历史，2012年搬到了曼谷新兴娱乐中心Asiatique，舞台有了新突破，灯光设计有创新，</p><p class="address">地址：Asiatique The Riverfront, 2194 Charoenkrung Rd., Praya Krai, Bangkor Laem, Bangkok 10120<a href="javascript:void(0)" hidefocus="true" class="map_address blue" data-sightid="3450136463">查看地图</a></p><div class="sight_belong_relation"></div></div><div class="sight_in_tab"><a href="javascript:vodi(0)" hidefocus="true" class="active"><span>景点门票</span></a></div><div class="sight_in_cont"><div class="tab_cont" style="display:block;"><div class="sight_in_ticket first"><h4 class="name"><a data-click-type="l_detail" href="/ticket/detail_3450136463.html#from=&amp;tid=17373" target="_blank" hidefocus="true" class="dark_blue" title="克里普索人妖秀成人票">克里普索人妖秀成人票</a></h4><div class="cost_price strike"><span class="price">¥<em>300</em></span>起</div><div class="lure_price"><span class="price txt_orange">¥<em>180</em></span>起</div><div class="save_price"><span class="save_wrap"><strong class="save">省</strong><span class="price">¥<em>120</em></span></span></div><div class="do"><a data-click-type="l_detail" href="/ticket/detail_3450136463.html#from=&amp;tid=17373" target="_blank" hidefocus="true">查看</a></div></div><div class="sight_in_ticket"><h4 class="name"><a data-click-type="l_detail" href="/ticket/detail_3450136463.html#from=&amp;tid=24435" target="_blank" hidefocus="true" class="dark_blue" title="克里普索人妖秀儿童票">克里普索人妖秀儿童票</a></h4><div class="cost_price strike"><span class="price">¥<em>150</em></span>起</div><div class="lure_price"><span class="price txt_orange">¥<em>120</em></span>起</div><div class="save_price"><span class="save_wrap"><strong class="save">省</strong><span class="price">¥<em>30</em></span></span></div><div class="do"><a data-click-type="l_detail" href="/ticket/detail_3450136463.html#from=&amp;tid=24435" target="_blank" hidefocus="true">查看</a></div></div></div></div><div class="sight_item_hot"><span class="product_star_level"><em title="热度 3.5/5"><span style="width:70%;">热度 3.5/5</span></em></span>热度</div></div></div><div class="sight_item" data-id="66161648"><div class="sight_item_detail clrfix"><div class="sight_item_show"><div class="show loading"><a data-click-type="l_pic" href="/ticket/detail_66161648.html#from=" target="_blank" hidefocus="true" title="金东尼国际剧场"><img data-original="http://img1.qunarzz.com/sight/p0/201304/24/13514395121b11dbc8d65eac.png_238x180x90_84acca2d.png" alt="金东尼国际剧场" class="img_opacity load" "onerror="this.src='http://source.qunar.com/piao/images/loading_camel_gray.gif'" src="http://img1.qunarzz.com/sight/p0/201304/24/13514395121b11dbc8d65eac.png_238x180x90_84acca2d.png"></a></div></div><div class="sight_item_about"><h3 class="sight_item_caption"><a data-click-type="l_title" class="name" href="/ticket/detail_66161648.html#from=" target="_blank" hidefocus="true" title="金东尼国际剧场">金东尼国际剧场</a><span class="area">[<a href="/ticket/list_曼谷.html#from=" target="_blank" hidefocus="true" title="曼谷">曼谷</a>]</span></h3><p class="intro" title="金东尼人妖秀(Golden Dome Cabaret Show)耗资千万、独一无二,是曼谷较有名的人妖秀场。主要展出具有">金东尼人妖秀(Golden Dome Cabaret Show)耗资千万、独一无二,是曼谷较有名的人妖秀场。主要展出具有</p><p class="address">地址：252/5 Ratchadapisek Rd. Soi 18 (Soi Yoocharern) Huai Khwang, Bangkok, Thailand.<a href="javascript:void(0)" hidefocus="true" class="map_address blue" data-sightid="66161648">查看地图</a></p><div class="sight_belong_relation"></div></div><div class="sight_in_tab"><a href="javascript:vodi(0)" hidefocus="true" class="active"><span>景点门票</span></a></div><div class="sight_in_cont"><div class="tab_cont" style="display:block;"><div class="sight_in_ticket first"><h4 class="name"><a data-click-type="l_detail" href="/ticket/detail_66161648.html#from=&amp;tid=22468" target="_blank" hidefocus="true" class="dark_blue" title="《金东尼人妖秀》普通票">《金东尼人妖秀》普通票</a></h4><div class="cost_price strike"><span class="price">¥<em>80</em></span>起</div><div class="lure_price"><span class="price txt_orange">¥<em>54</em></span>起</div><div class="save_price"><span class="save_wrap"><strong class="save">省</strong><span class="price">¥<em>26</em></span></span></div><div class="do"><a data-click-type="l_detail" href="/ticket/detail_66161648.html#from=&amp;tid=22468" target="_blank" hidefocus="true">查看</a></div></div><div class="sight_in_ticket"><h4 class="name"><a data-click-type="l_detail" href="/ticket/detail_66161648.html#from=&amp;tid=24268" target="_blank" hidefocus="true" class="dark_blue" title="《金东尼人妖秀》VIP贵宾票">《金东尼人妖秀》VIP贵宾票</a></h4><div class="cost_price strike"><span class="price">¥<em>100</em></span>起</div><div class="lure_price"><span class="price txt_orange">¥<em>85</em></span>起</div><div class="save_price"><span class="save_wrap"><strong class="save">省</strong><span class="price">¥<em>15</em></span></span></div><div class="do"><a data-click-type="l_detail" href="/ticket/detail_66161648.html#from=&amp;tid=24268" target="_blank" hidefocus="true">查看</a></div></div></div></div><div class="sight_item_hot"><span class="product_star_level"><em title="热度 3.5/5"><span style="width:70%;">热度 3.5/5</span></em></span>热度</div></div></div><div class="sight_item" data-id="2583823469"><div class="sight_item_detail clrfix"><div class="sight_item_show"><div class="show loading"><a data-click-type="l_pic" href="/ticket/detail_2583823469.html#from=" target="_blank" hidefocus="true" title="曼波人妖秀"><img data-original="http://img1.qunarzz.com/sight/p0/201310/21/79c105713efd7b48c8d65eac.jpg_238x180x90_1d848239.jpg" alt="曼波人妖秀" class="img_opacity load" "onerror="this.src='http://source.qunar.com/piao/images/loading_camel_gray.gif'" src="http://img1.qunarzz.com/sight/p0/201310/21/79c105713efd7b48c8d65eac.jpg_238x180x90_1d848239.jpg"></a></div></div><div class="sight_item_about"><h3 class="sight_item_caption"><a data-click-type="l_title" class="name" href="/ticket/detail_2583823469.html#from=" target="_blank" hidefocus="true" title="曼波人妖秀">曼波人妖秀</a><span class="area">[<a href="/ticket/list_曼谷.html#from=" target="_blank" hidefocus="true" title="曼谷">曼谷</a>]</span></h3><p class="intro" title="曼谷著名人妖秀。">曼谷著名人妖秀。</p><p class="address">地址：59/28 Sathu-phararam 3 Rd., Bangpongpang, Yannawa, BKK 10120, Thailand.<a href="javascript:void(0)" hidefocus="true" class="map_address blue" data-sightid="2583823469">查看地图</a></p><div class="sight_belong_relation"></div></div><div class="sight_in_tab"><a href="javascript:vodi(0)" hidefocus="true" class="active"><span>景点门票</span></a></div><div class="sight_in_cont"><div class="tab_cont" style="display:block;"><div class="sight_in_ticket first"><h4 class="name"><a data-click-type="l_detail" href="/ticket/detail_2583823469.html#from=&amp;tid=24504" target="_blank" hidefocus="true" class="dark_blue" title="《曼波人妖秀》成人票（普通）">《曼波人妖秀》成人票（普通）</a></h4><div class="cost_price strike"><span class="price">¥<em>158</em></span>起</div><div class="lure_price"><span class="price txt_orange">¥<em>118</em></span>起</div><div class="save_price"><span class="save_wrap"><strong class="save">省</strong><span class="price">¥<em>40</em></span></span></div><div class="do"><a data-click-type="l_detail" href="/ticket/detail_2583823469.html#from=&amp;tid=24504" target="_blank" hidefocus="true">查看</a></div></div><div class="sight_in_ticket"><h4 class="name"><a data-click-type="l_detail" href="/ticket/detail_2583823469.html#from=&amp;tid=22003" target="_blank" hidefocus="true" class="dark_blue" title="《曼波人妖秀》成人票（VIP贵宾）">《曼波人妖秀》成人票（VIP贵宾）</a></h4><div class="cost_price strike"><span class="price">¥<em>180</em></span>起</div><div class="lure_price"><span class="price txt_orange">¥<em>139</em></span>起</div><div class="save_price"><span class="save_wrap"><strong class="save">省</strong><span class="price">¥<em>41</em></span></span></div><div class="do"><a data-click-type="l_detail" href="/ticket/detail_2583823469.html#from=&amp;tid=22003" target="_blank" hidefocus="true">查看</a></div></div><div class="sight_in_ticket"><h4 class="name"><a data-click-type="l_detail" href="/ticket/detail_2583823469.html#from=&amp;tid=24505" target="_blank" hidefocus="true" class="dark_blue" title="《曼波人妖秀》儿童票（普通）">《曼波人妖秀》儿童票（普通）</a></h4><div class="cost_price strike"><span class="price">¥<em>138</em></span>起</div><div class="lure_price"><span class="price txt_orange">¥<em>99</em></span>起</div><div class="save_price"><span class="save_wrap"><strong class="save">省</strong><span class="price">¥<em>39</em></span></span></div><div class="do"><a data-click-type="l_detail" href="/ticket/detail_2583823469.html#from=&amp;tid=24505" target="_blank" hidefocus="true">查看</a></div></div><div class="sight_in_more"><a data-click-type="l_all" href="/ticket/detail_2583823469.html#from=" target="_blank" hidefocus="true" class="dark_blue">查看全部4种门票...</a></div></div></div><div class="sight_item_hot"><span class="product_star_level"><em title="热度 3.5/5"><span style="width:70%;">热度 3.5/5</span></em></span>热度</div></div></div><div class="sight_item" data-id="4063363678"><div class="sight_item_detail clrfix"><div class="sight_item_show"><div class="show loading"><a data-click-type="l_pic" href="/ticket/detail_4063363678.html#from=" target="_blank" hidefocus="true" title="古城七十二府主题公园"><img data-original="http://img1.qunarzz.com/sight/p0/201310/29/3fe7df5db0006cdec8d65eac.jpg_238x180x90_6949f004.jpg" alt="古城七十二府主题公园" class="img_opacity load" "onerror="this.src='http://source.qunar.com/piao/images/loading_camel_gray.gif'" src="http://img1.qunarzz.com/sight/p0/201310/29/3fe7df5db0006cdec8d65eac.jpg_238x180x90_6949f004.jpg"></a></div></div><div class="sight_item_about"><h3 class="sight_item_caption"><a data-click-type="l_title" class="name" href="/ticket/detail_4063363678.html#from=" target="_blank" hidefocus="true" title="古城七十二府主题公园">古城七十二府主题公园</a><span class="area">[<a href="/ticket/list_曼谷.html#from=" target="_blank" hidefocus="true" title="曼谷">曼谷</a>]</span></h3><p class="intro" title="集泰国名胜古迹微景观，最大露天博物馆。">集泰国名胜古迹微景观，最大露天博物馆。</p><p class="address">地址：Ban Muang Samut Prakan. Samutprakarn 10280 Thailand.<a href="javascript:void(0)" hidefocus="true" class="map_address blue" data-sightid="4063363678">查看地图</a></p><div class="sight_belong_relation"></div></div><div class="sight_in_tab"><a href="javascript:vodi(0)" hidefocus="true" class="active"><span>景点门票</span></a></div><div class="sight_in_cont"><div class="tab_cont" style="display:block;"><div class="sight_in_ticket first"><h4 class="name"><a data-click-type="l_detail" href="/ticket/detail_4063363678.html#from=&amp;tid=24223" target="_blank" hidefocus="true" class="dark_blue" title="古城七十二府主题公园成人票">古城七十二府主题公园成人票</a></h4><div class="cost_price strike"><span class="price">¥<em>200</em></span>起</div><div class="lure_price"><span class="price txt_orange">¥<em>79</em></span>起</div><div class="save_price"><span class="save_wrap"><strong class="save">省</strong><span class="price">¥<em>121</em></span></span></div><div class="do"><a data-click-type="l_detail" href="/ticket/detail_4063363678.html#from=&amp;tid=24223" target="_blank" hidefocus="true">查看</a></div></div><div class="sight_in_ticket"><h4 class="name"><a data-click-type="l_detail" href="/ticket/detail_4063363678.html#from=&amp;tid=24600" target="_blank" hidefocus="true" class="dark_blue" title="古城七十二府主题公园儿童票">古城七十二府主题公园儿童票</a></h4><div class="cost_price strike"><span class="price">¥<em>118</em></span>起</div><div class="lure_price"><span class="price txt_orange">¥<em>59</em></span>起</div><div class="save_price"><span class="save_wrap"><strong class="save">省</strong><span class="price">¥<em>59</em></span></span></div><div class="do"><a data-click-type="l_detail" href="/ticket/detail_4063363678.html#from=&amp;tid=24600" target="_blank" hidefocus="true">查看</a></div></div></div></div><div class="sight_item_hot"><span class="product_star_level"><em title="热度 3.5/5"><span style="width:70%;">热度 3.5/5</span></em></span>热度</div></div></div><div class="sight_item" data-id="2857782101"><div class="sight_item_detail clrfix"><div class="sight_item_show"><div class="show loading"><a data-click-type="l_pic" href="/ticket/detail_2857782101.html#from=" target="_blank" hidefocus="true" title="鳄鱼潭"><img data-original="http://img1.qunarzz.com/sight/p92/201211/05/7b23a387cb007a3f93835fbb.jpg_238x180x90_d23b6505.jpg" alt="鳄鱼潭" class="img_opacity load" "onerror="this.src='http://source.qunar.com/piao/images/loading_camel_gray.gif'" src="http://img1.qunarzz.com/sight/p92/201211/05/7b23a387cb007a3f93835fbb.jpg_238x180x90_d23b6505.jpg"></a></div></div><div class="sight_item_about"><h3 class="sight_item_caption"><a data-click-type="l_title" class="name" href="/ticket/detail_2857782101.html#from=" target="_blank" hidefocus="true" title="鳄鱼潭">鳄鱼潭</a><span class="area">[<a href="/ticket/list_曼谷.html#from=" target="_blank" hidefocus="true" title="曼谷">曼谷</a>]</span></h3><p class="intro" title="鳄鱼潭位于曼谷以东30公里的北揽，面积约4万平方米，是全世界最大的鳄鱼饲养场。这里的驯鳄表演，是外国旅游者争相一睹的节目">鳄鱼潭位于曼谷以东30公里的北揽，面积约4万平方米，是全世界最大的鳄鱼饲养场。这里的驯鳄表演，是外国旅游者争相一睹的节目</p><p class="address">地址：亚洲-泰国-曼谷<a href="javascript:void(0)" hidefocus="true" class="map_address blue" data-sightid="2857782101">查看地图</a></p><div class="sight_belong_relation"></div></div><div class="sight_in_tab"><a href="javascript:vodi(0)" hidefocus="true" class="active"><span>景点门票</span></a></div><div class="sight_in_cont"><div class="tab_cont" style="display:block;"><div class="sight_in_ticket first"><h4 class="name"><a data-click-type="l_detail" href="/ticket/detail_2857782101.html#from=&amp;tid=23868" target="_blank" hidefocus="true" class="dark_blue" title="鳄鱼潭成人票">鳄鱼潭成人票</a></h4><div class="cost_price strike"><span class="price">¥<em>80</em></span>起</div><div class="lure_price"><span class="price txt_orange">¥<em>35</em></span>起</div><div class="save_price"><span class="save_wrap"><strong class="save">省</strong><span class="price">¥<em>45</em></span></span></div><div class="do"><a data-click-type="l_detail" href="/ticket/detail_2857782101.html#from=&amp;tid=23868" target="_blank" hidefocus="true">查看</a></div></div><div class="sight_in_ticket"><h4 class="name"><a data-click-type="l_detail" href="/ticket/detail_2857782101.html#from=&amp;tid=24595" target="_blank" hidefocus="true" class="dark_blue" title="鳄鱼潭儿童票">鳄鱼潭儿童票</a></h4><div class="cost_price strike"><span class="price">¥<em>70</em></span>起</div><div class="lure_price"><span class="price txt_orange">¥<em>30</em></span>起</div><div class="save_price"><span class="save_wrap"><strong class="save">省</strong><span class="price">¥<em>40</em></span></span></div><div class="do"><a data-click-type="l_detail" href="/ticket/detail_2857782101.html#from=&amp;tid=24595" target="_blank" hidefocus="true">查看</a></div></div></div></div><div class="sight_item_hot"><span class="product_star_level"><em title="热度 3.5/5"><span style="width:70%;">热度 3.5/5</span></em></span>热度</div></div></div><div class="sight_item" data-id="2504956550"><div class="sight_item_detail clrfix"><div class="sight_item_show"><div class="show loading"><a data-click-type="l_pic" href="/ticket/detail_2504956550.html#from=" target="_blank" hidefocus="true" title="拜约克摩天塔"><img data-original="http://img1.qunarzz.com/sight/p0/201310/21/28666279d9ce7891c8d65eac.jpg_238x180x90_9a936254.jpg" alt="拜约克摩天塔" class="img_opacity load" "onerror="this.src='http://source.qunar.com/piao/images/loading_camel_gray.gif'" src="http://img1.qunarzz.com/sight/p0/201310/21/28666279d9ce7891c8d65eac.jpg_238x180x90_9a936254.jpg"></a></div></div><div class="sight_item_about"><h3 class="sight_item_caption"><a data-click-type="l_title" class="name" href="/ticket/detail_2504956550.html#from=" target="_blank" hidefocus="true" title="拜约克摩天塔">拜约克摩天塔</a><span class="area">[<a href="/ticket/list_曼谷.html#from=" target="_blank" hidefocus="true" title="曼谷">曼谷</a>]</span></h3><p class="intro" title="曼谷最高大楼，黄昏时刻就餐欣赏曼谷美景。">曼谷最高大楼，黄昏时刻就餐欣赏曼谷美景。</p><p class="address">地址：222 Soi Ratchaprarop 3, Rathaprarop Road, Ratchathewi, Bangkok 10400 Thailand.<a href="javascript:void(0)" hidefocus="true" class="map_address blue" data-sightid="2504956550">查看地图</a></p><div class="sight_belong_relation"></div></div><div class="sight_in_tab"><a href="javascript:vodi(0)" hidefocus="true" class="active"><span>景点门票</span></a></div><div class="sight_in_cont"><div class="tab_cont" style="display:block;"><div class="sight_in_ticket first"><h4 class="name"><a data-click-type="l_detail" href="/ticket/detail_2504956550.html#from=&amp;tid=22002" target="_blank" hidefocus="true" class="dark_blue" title="75楼 泰式自助晚餐成人票">75楼 泰式自助晚餐成人票</a></h4><div class="cost_price strike"><span class="price">¥<em>150</em></span>起</div><div class="lure_price"><span class="price txt_orange">¥<em>108</em></span>起</div><div class="save_price"><span class="save_wrap"><strong class="save">省</strong><span class="price">¥<em>42</em></span></span></div><div class="do"><a data-click-type="l_detail" href="/ticket/detail_2504956550.html#from=&amp;tid=22002" target="_blank" hidefocus="true">查看</a></div></div><div class="sight_in_ticket"><h4 class="name"><a data-click-type="l_detail" href="/ticket/detail_2504956550.html#from=&amp;tid=24837" target="_blank" hidefocus="true" class="dark_blue" title="76-78楼 午餐成人票">76-78楼 午餐成人票</a></h4><div class="cost_price strike"><span class="price">¥<em>180</em></span>起</div><div class="lure_price"><span class="price txt_orange">¥<em>125</em></span>起</div><div class="save_price"><span class="save_wrap"><strong class="save">省</strong><span class="price">¥<em>55</em></span></span></div><div class="do"><a data-click-type="l_detail" href="/ticket/detail_2504956550.html#from=&amp;tid=24837" target="_blank" hidefocus="true">查看</a></div></div><div class="sight_in_ticket"><h4 class="name"><a data-click-type="l_detail" href="/ticket/detail_2504956550.html#from=&amp;tid=24838" target="_blank" hidefocus="true" class="dark_blue" title="76-78楼 晚餐成人票">76-78楼 晚餐成人票</a></h4><div class="cost_price strike"><span class="price">¥<em>220</em></span>起</div><div class="lure_price"><span class="price txt_orange">¥<em>160</em></span>起</div><div class="save_price"><span class="save_wrap"><strong class="save">省</strong><span class="price">¥<em>60</em></span></span></div><div class="do"><a data-click-type="l_detail" href="/ticket/detail_2504956550.html#from=&amp;tid=24838" target="_blank" hidefocus="true">查看</a></div></div><div class="sight_in_more"><a data-click-type="l_all" href="/ticket/detail_2504956550.html#from=" target="_blank" hidefocus="true" class="dark_blue">查看全部10种门票...</a></div></div></div><div class="sight_item_hot"><span class="product_star_level"><em title="热度 3.5/5"><span style="width:70%;">热度 3.5/5</span></em></span>热度</div></div></div><div class="sight_item" data-id="2730712008"><div class="sight_item_detail clrfix"><div class="sight_item_show"><div class="show loading"><a data-click-type="l_pic" href="/ticket/detail_2730712008.html#from=" target="_blank" hidefocus="true" title="曼谷传统木偶剧"><img data-original="http://img1.qunarzz.com/sight/p0/201310/29/43a8a607d372dea2c8d65eac.jpg_238x180x90_872dc459.jpg" alt="曼谷传统木偶剧" class="img_opacity load" "onerror="this.src='http://source.qunar.com/piao/images/loading_camel_gray.gif'" src="http://img1.qunarzz.com/sight/p0/201310/29/43a8a607d372dea2c8d65eac.jpg_238x180x90_872dc459.jpg"></a></div></div><div class="sight_item_about"><h3 class="sight_item_caption"><a data-click-type="l_title" class="name" href="/ticket/detail_2730712008.html#from=" target="_blank" hidefocus="true" title="曼谷传统木偶剧">曼谷传统木偶剧</a><span class="area">[<a href="/ticket/list_曼谷.html#from=" target="_blank" hidefocus="true" title="曼谷">曼谷</a>]</span></h3><p class="intro" title="是泰国唯一的木偶剧团，可观赏精彩木偶剧。">是泰国唯一的木偶剧团，可观赏精彩木偶剧。</p><p class="address">地址：3F &nbsp;King Power Complex 8/1 Rangnam Rd. Phaya Thai, Ratchathewi, Bangkok, 10400<a href="javascript:void(0)" hidefocus="true" class="map_address blue" data-sightid="2730712008">查看地图</a></p><div class="sight_belong_relation"></div></div><div class="sight_in_tab"><a href="javascript:vodi(0)" hidefocus="true" class="active"><span>景点门票</span></a></div><div class="sight_in_cont"><div class="tab_cont" style="display:block;"><div class="sight_in_ticket first"><h4 class="name"><a data-click-type="l_detail" href="/ticket/detail_2730712008.html#from=&amp;tid=24220" target="_blank" hidefocus="true" class="dark_blue" title="木偶剧成人票（午场）">木偶剧成人票（午场）</a></h4><div class="cost_price strike"><span class="price">¥<em>120</em></span>起</div><div class="lure_price"><span class="price txt_orange">¥<em>85</em></span>起</div><div class="save_price"><span class="save_wrap"><strong class="save">省</strong><span class="price">¥<em>35</em></span></span></div><div class="do"><a data-click-type="l_detail" href="/ticket/detail_2730712008.html#from=&amp;tid=24220" target="_blank" hidefocus="true">查看</a></div></div><div class="sight_in_ticket"><h4 class="name"><a data-click-type="l_detail" href="/ticket/detail_2730712008.html#from=&amp;tid=24506" target="_blank" hidefocus="true" class="dark_blue" title="木偶剧成人票（晚场）">木偶剧成人票（晚场）</a></h4><div class="cost_price strike"><span class="price">¥<em>188</em></span>起</div><div class="lure_price"><span class="price txt_orange">¥<em>128</em></span>起</div><div class="save_price"><span class="save_wrap"><strong class="save">省</strong><span class="price">¥<em>60</em></span></span></div><div class="do"><a data-click-type="l_detail" href="/ticket/detail_2730712008.html#from=&amp;tid=24506" target="_blank" hidefocus="true">查看</a></div></div><div class="sight_in_ticket"><h4 class="name"><a data-click-type="l_detail" href="/ticket/detail_2730712008.html#from=&amp;tid=24507" target="_blank" hidefocus="true" class="dark_blue" title="木偶剧儿童票（午场）">木偶剧儿童票（午场）</a></h4><div class="cost_price strike"><span class="price">¥<em>85</em></span>起</div><div class="lure_price"><span class="price txt_orange">¥<em>42</em></span>起</div><div class="save_price"><span class="save_wrap"><strong class="save">省</strong><span class="price">¥<em>43</em></span></span></div><div class="do"><a data-click-type="l_detail" href="/ticket/detail_2730712008.html#from=&amp;tid=24507" target="_blank" hidefocus="true">查看</a></div></div><div class="sight_in_more"><a data-click-type="l_all" href="/ticket/detail_2730712008.html#from=" target="_blank" hidefocus="true" class="dark_blue">查看全部4种门票...</a></div></div></div><div class="sight_item_hot"><span class="product_star_level"><em title="热度 3.5/5"><span style="width:70%;">热度 3.5/5</span></em></span>热度</div></div></div><div class="sight_item" data-id="1232970457"><div class="sight_item_detail clrfix"><div class="sight_item_show"><div class="show loading"><a data-click-type="l_pic" href="/ticket/detail_1232970457.html#from=" target="_blank" hidefocus="true" title="曼谷梦幻世界"><img data-original="http://img1.qunarzz.com/sight/p0/201310/29/ad75d9e970366b6ec8d65eac.jpg_238x180x90_70555e7b.jpg" alt="曼谷梦幻世界" class="img_opacity load" "onerror="this.src='http://source.qunar.com/piao/images/loading_camel_gray.gif'" src="http://img1.qunarzz.com/sight/p0/201310/29/ad75d9e970366b6ec8d65eac.jpg_238x180x90_70555e7b.jpg"></a></div></div><div class="sight_item_about"><h3 class="sight_item_caption"><a data-click-type="l_title" class="name" href="/ticket/detail_1232970457.html#from=" target="_blank" hidefocus="true" title="曼谷梦幻世界">曼谷梦幻世界</a><span class="area">[<a href="/ticket/list_曼谷.html#from=" target="_blank" hidefocus="true" title="曼谷">曼谷</a>]</span></h3><p class="intro" title="泰国最大主题乐园，泰国迪斯尼之称。">泰国最大主题乐园，泰国迪斯尼之称。</p><p class="address">地址：62 Moo.1 Rangsit-Nakornnayok Rd, Km.7 Thanyaburi 12130, 12130, Thailand.<a href="javascript:void(0)" hidefocus="true" class="map_address blue" data-sightid="1232970457">查看地图</a></p><div class="sight_belong_relation"></div></div><div class="sight_in_tab"><a href="javascript:vodi(0)" hidefocus="true" class="active"><span>景点门票</span></a></div><div class="sight_in_cont"><div class="tab_cont" style="display:block;"><div class="sight_in_ticket first"><h4 class="name"><a data-click-type="l_detail" href="/ticket/detail_1232970457.html#from=&amp;tid=24222" target="_blank" hidefocus="true" class="dark_blue" title="曼谷梦幻世界成人票">曼谷梦幻世界成人票</a></h4><div class="cost_price strike"><span class="price">¥<em>100</em></span>起</div><div class="lure_price"><span class="price txt_orange">¥<em>75</em></span>起</div><div class="save_price"><span class="save_wrap"><strong class="save">省</strong><span class="price">¥<em>25</em></span></span></div><div class="do"><a data-click-type="l_detail" href="/ticket/detail_1232970457.html#from=&amp;tid=24222" target="_blank" hidefocus="true">查看</a></div></div></div></div><div class="sight_item_hot"><span class="product_star_level"><em title="热度 3.5/5"><span style="width:70%;">热度 3.5/5</span></em></span>热度</div></div></div><div class="sight_item" data-id="2043301089"><div class="sight_item_detail clrfix"><div class="sight_item_show"><div class="show loading"><a data-click-type="l_pic" href="/ticket/detail_2043301089.html#from=" target="_blank" hidefocus="true" title="曼谷野生动物园"><img data-original="http://img1.qunarzz.comhttp://img1.qunarzz.com/sight/p0/201304/17/f3b5735b997d5059c8d65eac.jpg_238x180x90_789318b2.jpg" alt="曼谷野生动物园" class="img_opacity" "onerror="this.src='http://source.qunar.com/piao/images/loading_camel_gray.gif'"></a></div></div><div class="sight_item_about"><h3 class="sight_item_caption"><a data-click-type="l_title" class="name" href="/ticket/detail_2043301089.html#from=" target="_blank" hidefocus="true" title="曼谷野生动物园">曼谷野生动物园</a><span class="area">[<a href="/ticket/list_曼谷.html#from=" target="_blank" hidefocus="true" title="曼谷">曼谷</a>]</span></h3><p class="intro" title="　曼谷野生动物园，位于市东北南茵地路第9公里处，由以自然保护区为主的  野生动物园和以动物游艺表演为主的海洋公园两部分组">　曼谷野生动物园，位于市东北南茵地路第9公里处，由以自然保护区为主的  野生动物园和以动物游艺表演为主的海洋公园两部分组</p><p class="address">地址：99 Ramindra 1 Rd Bangkok 10510, Thailand.<a href="javascript:void(0)" hidefocus="true" class="map_address blue" data-sightid="2043301089">查看地图</a></p><div class="sight_belong_relation"></div></div><div class="sight_in_tab"><a href="javascript:vodi(0)" hidefocus="true" class="active"><span>景点门票</span></a></div><div class="sight_in_cont"><div class="tab_cont" style="display:block;"><div class="sight_in_ticket first"><h4 class="name"><a data-click-type="l_detail" href="/ticket/detail_2043301089.html#from=&amp;tid=22549" target="_blank" hidefocus="true" class="dark_blue" title="曼谷野生动物园成人票">曼谷野生动物园成人票</a></h4><div class="cost_price strike"><span class="price">¥<em>150</em></span>起</div><div class="lure_price"><span class="price txt_orange">¥<em>100</em></span>起</div><div class="save_price"><span class="save_wrap"><strong class="save">省</strong><span class="price">¥<em>50</em></span></span></div><div class="do"><a data-click-type="l_detail" href="/ticket/detail_2043301089.html#from=&amp;tid=22549" target="_blank" hidefocus="true">查看</a></div></div></div></div><div class="sight_item_hot"><span class="product_star_level"><em title="热度 5/5"><span style="width:100%;">热度 5/5</span></em></span>热度</div></div></div><div class="sight_item" data-id="1682054421"><div class="sight_item_detail clrfix"><div class="sight_item_show"><div class="show loading"><a data-click-type="l_pic" href="/ticket/detail_1682054421.html#from=" target="_blank" hidefocus="true" title="夜游湄南河游轮"><img data-original="http://img1.qunarzz.com/sight/p0/201310/29/e21b5e4cbf7452adc8d65eac.jpg_238x180x90_ea70d973.jpg" alt="夜游湄南河游轮" class="img_opacity load" "onerror="this.src='http://source.qunar.com/piao/images/loading_camel_gray.gif'" src="http://img1.qunarzz.com/sight/p0/201310/29/e21b5e4cbf7452adc8d65eac.jpg_238x180x90_ea70d973.jpg"></a></div></div><div class="sight_item_about"><h3 class="sight_item_caption"><a data-click-type="l_title" class="name" href="/ticket/detail_1682054421.html#from=" target="_blank" hidefocus="true" title="夜游湄南河游轮">夜游湄南河游轮</a><span class="area">[<a href="/ticket/list_曼谷.html#from=" target="_blank" hidefocus="true" title="曼谷">曼谷</a>]</span></h3><p class="intro" title="时而舒缓的萨克斯风，时而盛行的欧美音乐。">时而舒缓的萨克斯风，时而盛行的欧美音乐。</p><p class="address">地址：river city shoppingcomplex,room122-126 level1.soi chareokrung 30 Sampantong<a href="javascript:void(0)" hidefocus="true" class="map_address blue" data-sightid="1682054421">查看地图</a></p><div class="sight_belong_relation"></div></div><div class="sight_in_tab"><a href="javascript:vodi(0)" hidefocus="true" class="active"><span>景点门票</span></a></div><div class="sight_in_cont"><div class="tab_cont" style="display:block;"><div class="sight_in_ticket first"><h4 class="name"><a data-click-type="l_detail" href="/ticket/detail_1682054421.html#from=&amp;tid=24211" target="_blank" hidefocus="true" class="dark_blue" title="夜游湄南河昭披耶号+自助晚餐">夜游湄南河昭披耶号+自助晚餐</a></h4><div class="cost_price strike"><span class="price">¥<em>350</em></span>起</div><div class="lure_price"><span class="price txt_orange">¥<em>265</em></span>起</div><div class="save_price"><span class="save_wrap"><strong class="save">省</strong><span class="price">¥<em>85</em></span></span></div><div class="do"><a data-click-type="l_detail" href="/ticket/detail_1682054421.html#from=&amp;tid=24211" target="_blank" hidefocus="true">查看</a></div></div><div class="sight_in_ticket"><h4 class="name"><a data-click-type="l_detail" href="/ticket/detail_1682054421.html#from=&amp;tid=24213" target="_blank" hidefocus="true" class="dark_blue" title="夜游湄南河大珍珠号+自助晚餐（成人）">夜游湄南河大珍珠号+自助晚餐（成人）</a></h4><div class="cost_price strike"><span class="price">¥<em>350</em></span>起</div><div class="lure_price"><span class="price txt_orange">¥<em>265</em></span>起</div><div class="save_price"><span class="save_wrap"><strong class="save">省</strong><span class="price">¥<em>85</em></span></span></div><div class="do"><a data-click-type="l_detail" href="/ticket/detail_1682054421.html#from=&amp;tid=24213" target="_blank" hidefocus="true">查看</a></div></div><div class="sight_in_ticket"><h4 class="name"><a data-click-type="l_detail" href="/ticket/detail_1682054421.html#from=&amp;tid=31701" target="_blank" hidefocus="true" class="dark_blue" title="夜游湄南河大珍珠号+自助晚餐（儿童）">夜游湄南河大珍珠号+自助晚餐（儿童）</a></h4><div class="cost_price strike"><span class="price">¥<em>280</em></span>起</div><div class="lure_price"><span class="price txt_orange">¥<em>200</em></span>起</div><div class="save_price"><span class="save_wrap"><strong class="save">省</strong><span class="price">¥<em>80</em></span></span></div><div class="do"><a data-click-type="l_detail" href="/ticket/detail_1682054421.html#from=&amp;tid=31701" target="_blank" hidefocus="true">查看</a></div></div><div class="sight_in_more"><a data-click-type="l_all" href="/ticket/detail_1682054421.html#from=" target="_blank" hidefocus="true" class="dark_blue">查看全部5种门票...</a></div></div></div><div class="sight_item_hot"><span class="product_star_level"><em title="热度 3.5/5"><span style="width:70%;">热度 3.5/5</span></em></span>热度</div></div></div></div>
                          </div>
                          <div class="clrfix"></div>
                        </div>
                      </div>
                    </div>
                  </div>

      <div class="content-main highlight">
        <h1>景点助游</h1>
        <div class="bs-example">
          <ul class="nav nav-tabs" style="margin-bottom: 15px;">
            <li><a href="#location" data-toggle="tab">定位服务</a></li>
            <li class="active"><a href="#sight" data-toggle="tab">景点介绍</a></li>
            <li><a href="#locus" data-toggle="tab">行政场所介绍</a></li>
          </ul>
          <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade" id="location">
            </div>
            <div class="tab-pane fade active in" id="sight">
              <ul class="pla_poilist clearfix">
                <li>
                  <p class="pic"><a href="javascript:void(0);" data-content="大王宫也叫大皇宫，泰王室规模最大的宫殿建筑群，汇集了泰国建 筑、装饰、雕刻、绘画等民族特色的精华。它位于湄南河东岸，始建 于拉玛一世时期的1782年，曾一直是暹罗王国的皇室居所。现在的 皇室已经搬到Chitralada宫，大王宫只用作少数庆典活动。大王宫内 的玉佛寺是泰国最神圣的寺庙，是历代王族举行重要仪式的地方。" data-bn-ipg="place-city-poi-pic" data-original-title="" title=""><img src="/album/user/376/57/Qk5TRx0EYw/index/300_200" width="215" height="143" alt="曼谷大王宫"></a></p>
                  <h3 class="title"><a href="http://place.qyer.com/poi/59437/" target="_blank" data-bn-ipg="place-city-poi-title">曼谷大王宫</a></h3>
                  <p class="yelps clearfix"><span class="stars"><img src="http://static.qyer.com/images/place5/poi_star.png" alt=""><img src="http://static.qyer.com/images/place5/poi_star.png" alt=""><img src="http://static.qyer.com/images/place5/poi_star.png" alt=""><img src="http://static.qyer.com/images/place5/poi_star.png" alt=""><img src="http://static.qyer.com/images/place5/poi_star_null.png" alt=""></span><span class="sum"><a href="http://place.qyer.com/poi/59437/#poicommonlist" target="_blank" data-bn-ipg="place-city-poi-comment">419条点评</a></span></p>
                  <div class="useryelp">
                    <a href="http://www.qyer.com/u/2792600" target="_blank" class="face" data-bn-ipg="place-city-poi-avater"><img src="http://static.qyer.com/data/avatar/002/79/26/00_avatar_small.jpg" width="30" height="30" alt="asong91" title="asong91"></a>
                    <p class="text">去曼谷不去这好象不行，但实话很一般，无边无际的金碧辉煌</p>
        
                  </div>
                </li>
                <li>
                  <p class="pic"><a href="javascript:void(0);" data-content="玉佛寺建于1782年，历史相当悠久，属于泰国曼谷王朝开朝时建筑。拉玛一世是首位将泰国首都迁至曼谷的国王，他将玉佛寺视为国家守护的宗教圣地，并在此地为王族举行重要的仪式。寺中并没有僧侣居住。

玉佛寺目前占大皇宫的面积约四分之一，位于宫内的东北方向，寺内供奉的玉佛由一整块翠绿壁玉(翡翠)雕成，高约66厘米，宽约48厘米，由玻璃保护，上有多层华盖，基座相当高。玉佛每年三季都由皇室为玉佛换上不同朝服，以示尊敬。在玉佛周围另有四尊金佛，主寺内壁画则是释迦牟尼佛由诞生到涅槃的故事。供奉玉佛的主殿共有40根四角型立柱，并在廊下装饰有112尊鸟形人身的金像。

尖顶装饰、建筑装饰、回廊壁画三大特色.. 共有大小22座寺庙，主要建筑有玉佛殿、新天阁、钟楼、藏经殿、先王殿、佛骨殿、叻达纳大金塔、藏经堂、尖顶佛堂、骨灰堂等。院内更有矗立如林的佛塔，造型各异，色彩鲜艳，十分壮观。" data-bn-ipg="place-city-poi-pic" data-original-title="" title=""><img src="/album/1ca/5d/1991409/index/300_200" width="215" height="143" alt="玉佛寺"></a></p>
                  <h3 class="title"><a href="http://place.qyer.com/poi/58525/" target="_blank" data-bn-ipg="place-city-poi-title">玉佛寺</a></h3>
                  <p class="yelps clearfix"><span class="stars"><img src="http://static.qyer.com/images/place5/poi_star.png" alt=""><img src="http://static.qyer.com/images/place5/poi_star.png" alt=""><img src="http://static.qyer.com/images/place5/poi_star.png" alt=""><img src="http://static.qyer.com/images/place5/poi_star.png" alt=""><img src="http://static.qyer.com/images/place5/poi_star_null.png" alt=""></span><span class="sum"><a href="http://place.qyer.com/poi/58525/#poicommonlist" target="_blank" data-bn-ipg="place-city-poi-comment">187条点评</a></span></p>
                  <div class="useryelp">
                    <a href="http://www.qyer.com/u/1407394" target="_blank" class="face" data-bn-ipg="place-city-poi-avater"><img src="http://static.qyer.com/data/images/noavatar_small.gif" width="30" height="30" alt="ShadowK" title="ShadowK"></a>
                    <p class="text">曼谷的庙啊，何其多。挑些重点来看就好了，不然真的会逛晕头的，这家还行</p>
                  </div>
                </li>
                <li>
                  <p class="pic"><a href="javascript:void(0);" data-placement="left" data-content="人称“有求必应”佛，泰国香火最盛的佛像之一，以灵验著称。每天都有很多来自世界各地的信众前来参拜。佛像有四尊佛面，分别代表爱情、事业、健康和财运。四面拜完再回到正面拜一次，要报来自哪里生辰八字报得越细越好。买香烛和花环等礼佛用品可以在四面佛里面买，价格比外面的公道。供奉大象鲜花椰子。拜完可以给20B个旁边的师兄，求瓶圣水。愿望实现后要记得还愿。

拜佛注意：拜四面佛要顺时针方向逐面拜。从入口处佛面开始，留下蜡烛，许愿，三注香一个花圈顺时针拜四面，回第一面再拜一次，最后到左边水缸舀水，拍前额，脸，手臂。 第一面求生意.事業( 慈 ) 第二面祈愛情.婚姻( 悲 ) 第三面盼發財.富貴( 喜 ) 第四面保平安.福慧( 捨 ) 祈願文大致需說明如下內容： 弟子○○○(說明出生年月及居住地)謹以萬分至誠向天界至尊大梵天王座下奉獻OO祀品，願天王聖意順遂，乞望保佑…（陳明欲求保佑詳細內容）…如事成功， 弟子○○○願奉獻…（說明奉獻物品）以表崇敬之至忱。」" data-bn-ipg="place-city-poi-pic" data-original-title="" title=""><img src="/album/12a/9f/1839701/index/300_200" width="215" height="143" alt="伊拉旺神祠四面佛"></a></p>
                  <h3 class="title"><a href="http://place.qyer.com/poi/38090/" target="_blank" data-bn-ipg="place-city-poi-title">伊拉旺神祠四面佛</a></h3>
                  <p class="yelps clearfix"><span class="stars"><img src="http://static.qyer.com/images/place5/poi_star.png" alt=""><img src="http://static.qyer.com/images/place5/poi_star.png" alt=""><img src="http://static.qyer.com/images/place5/poi_star.png" alt=""><img src="http://static.qyer.com/images/place5/poi_star.png" alt=""><img src="http://static.qyer.com/images/place5/poi_star_null.png" alt=""></span><span class="sum"><a href="http://place.qyer.com/poi/38090/#poicommonlist" target="_blank" data-bn-ipg="place-city-poi-comment">150条点评</a></span></p>
                  <div class="useryelp">
                    <a href="http://www.qyer.com/u/3149921" target="_blank" class="face" data-bn-ipg="place-city-poi-avater"><img src="http://static.qyer.com/data/avatar/003/14/99/21_avatar_small.jpg" width="30" height="30" alt="了了522" title="了了522"></a>
                    <p class="text">我许了愿，希望可以来还愿！加油。祭拜前，最好多看看流程</p>
                  </div>
                </li>
                <li>
                  <p class="pic"><a href="javascript:void(0);" data-content="Wat Pho 卧佛寺，又叫 Temple of Reclining Buddha。这个寺庙在曼谷也是比较重要的一个，有时间一定要来。面积很大，分主寺庙区和僧舍区，两部份面积差不多大。可供游客参观的是寺庙区，这个区又分为正殿区和后面的塔林区。卧佛寺建于1788年，这座寺庙闻名于世的特色有两点：其一，它是泰国最早的大学，是医学和泰式按摩的发源地，其二是寺庙内供奉着巨大的卧佛。寺中最值得一看的就是大觉佛陀，佛像长46米，高15米，几乎占据了整个大殿的空间，拍照时很难取到全景。佛身呈金黄色，光芒四射。横卧表示佛祖的涅槃。卧佛足底装饰着由贝壳镶嵌面成的108个吉祥图案，雕绘得十分精美。佛像的背面可以看到精美的枕头，和佛祖的发髻。窗户上是镶金的精美图案，窗与窗之间有壁画，因为这的壁画比较低，可以看得非常清楚。佛陀扁平的足底也代表了佛祖超凡脱俗的32种身体特征之一。殿内墙壁上布满了精美的壁画，取材广泛。佛像身后的一条过道上有一整排僧钵，共108个，可以换取钱币投入钵中，一钵一枚，投币时许愿，这是一种当地特殊的祈祷方式，佛殿出口处的武士变成了文官，都像是中国的，泰国受中国文化影响很深呀，每座寺庙里都能看到中式的雕像。

规模宏大的正殿气势雄伟，一走进环绕正殿的走廊，印入眼帘的就是林立的佛塔。佛塔都是由瓷片装饰而成。特别是代表历代国王的最大的四座佛塔直冲云霄。周围的回廊里有大大小的很多佛像。其他的小佛塔就是墓，在塔中安葬遗骨，这些佛塔以前是王室的专用墓地。现在只要向寺院布施，任何人都可以入葬。两个院子之间有一道门，门口有两个高大的雕像，西洋风格，戴着高高的礼帽。门楣上镶满了瓷片，非常华丽。这个门就是当时老版《西游记》的拍摄地，西天佛国。院内有两座小亭子，里面有就关于医学的壁画，还有人体经络图。院内的门装饰都很精美，还有石像守卫。有一座小假山，山上布满了药师的雕像。院内有很多建筑，高塔，无数的小塔。很多佛殿，殿内供奉佛像，其中一个佛殿里的工作人员特别凶，话也不好好说，老数落人，每在在佛的面前这样，心也不静，也不像别的泰国人那么友善，和蔼，不过这样的人必竟是少数。回廊，石庙等，还有一座白色的西洋钟楼。还有很多雕塑，有动物，石狮，石象，石塔，牧童牧牛，中式石牌楼。盘龙石柱的路灯。这里面真是丰富多彩，古今中外呀。

以释迦牟尼一生为主题的巨幅壁画，及拉玛三世时期雕刻的《拉玛坚》故事浮雕，还有排列成T字型的青、白、黄、蓝四色大佛塔，是曼谷的标志性建筑。" data-bn-ipg="place-city-poi-pic" data-original-title="" title=""><img src="/album/user/376/57/Qk5TRx0EaQ/index/300_200" width="215" height="143" alt="曼谷卧佛寺"></a></p>
                  <h3 class="title"><a href="http://place.qyer.com/poi/57048/" target="_blank" data-bn-ipg="place-city-poi-title">曼谷卧佛寺</a></h3>
                  <p class="yelps clearfix"><span class="stars"><img src="http://static.qyer.com/images/place5/poi_star.png" alt=""><img src="http://static.qyer.com/images/place5/poi_star.png" alt=""><img src="http://static.qyer.com/images/place5/poi_star.png" alt=""><img src="http://static.qyer.com/images/place5/poi_star.png" alt=""><img src="http://static.qyer.com/images/place5/poi_star_null.png" alt=""></span><span class="sum"><a href="http://place.qyer.com/poi/57048/#poicommonlist" target="_blank" data-bn-ipg="place-city-poi-comment">162条点评</a></span></p>
                  <div class="useryelp">
                    <a href="http://www.qyer.com/u/3149921" target="_blank" class="face" data-bn-ipg="place-city-poi-avater"><img src="http://static.qyer.com/data/avatar/003/14/99/21_avatar_small.jpg" width="30" height="30" alt="了了522" title="了了522"></a>
                    <p class="text">住得离这里很近，人少的时候去的。很美。就是没有中文翻译。只能猜个大概</p>
                  </div>
                </li>
                <li>
                  <p class="pic"><a href="javascript:void(0);" data-content="郑王庙，又称作晓庙、郑王寺或黎明寺，是泰国首都曼谷市曼谷艾县“血脉之河”湄南河西畔的一所佛教寺院。它的全名为 วัดอรุณราชวรารามราชวรมหาวิหาร(Wat Arunratchawararam Ratchaworamahavihara)。

它是泰国境内规模最大的大乘舍利式塔，因此享有“泰国埃菲尔铁塔”的美称。位于湄南河支流昭披耶河西畔的吞武里区。始建于泰国的大城王朝，在郑信迁都到此地创建吞武里王朝之后，吞武里区也日益兴盛。寺庙于1809年竣工，1847年又被重修。它是大城时期孟库国王时代留下的最伟大的创举、最璀璨的文化遗产，这使得黎明寺成为现今昭披耶河畔最古老的建筑、参观量最高的寺庙(黎明寺每日对外开放)。黎明寺的主塔高达82米，这座主塔是泰国著名的建筑，刻在了10泰铢的硬币背面。底座和塔身均呈方表，层数很多，面积逐层递减。四周各有陪塔一座，颜色各异，宏伟华丽，比主塔矮小几倍。塔上铺贴许多彩色碎陶瓷。宝塔的地基部分绘有巨幅图画。

Wat Arun RajWararam 郑王庙，是 三岛由纪夫 小说《黎明寺》题材的原型，寺院人口处有巨型守护神石像，寺内有五座一模一样的佛塔，一大四小。大塔为79米高的婆罗门式尖塔——巴壤塔，建于1809年，有“泰国的埃菲尔铁塔”之美称。 巴壤塔及其周围四座与之呼应的陪塔，形成一组庞大而美丽的塔群。大塔内有阶梯供游客攀爬，在塔上可以极目眺望湄南河对岸的曼谷市景。佛塔不仅在朝阳下熠熠生辉，在夕阳下景色也别具一番风味，美不胜收。整个塔的表面镶嵌着无数陶瓷片，受到阳光的照射，闪闪发光。塔身上还有很多精致的装饰。有装饰铃，在风中摆动发出清脆的响声。
早上的佛塔一面背光，很暗，另一面拍照还不错。如果映着夕阳照应该更好。佛塔四周有台阶直通截顶，一定小心，非常高，非常陡。门口有各种动物和武士的雕塑。寺门口有很多小摊出售昆虫标本。码头附近有一个像公园的地方，里面有假山，山上有很多瓷片。周围有很多雕塑，有鸟一样的神兽，有鸡身人头的神仙，有罗汉，还有国王的铜像和现代士兵。前两次来都只是在河上远眺 郑王庙，觉得这个建筑很宏伟，一定要站在上面看一看，这一次终于如愿了。
郑王庙 中还有两座佛堂，在佛塔的正面和湄南河的对面各有一座，其中一座是在建造 郑王庙 之时，堂内供奉着大大小小的佛像。另一座是拜殿，殿内有一座青铜佛塔，还有80尊佛像。现在供奉在 玉佛寺 内的翡翠佛，在吞武里王朝时就供奉在这里。" data-bn-ipg="place-city-poi-pic" data-original-title="" title=""><img src="/album/143/6f/2004746/index/300_200" width="215" height="143" alt="郑王庙（晨曦寺）"></a></p>
                  <h3 class="title"><a href="http://place.qyer.com/poi/58327/" target="_blank" data-bn-ipg="place-city-poi-title">郑王庙（晨曦寺）</a></h3>
                  <p class="yelps clearfix"><span class="stars"><img src="http://static.qyer.com/images/place5/poi_star.png" alt=""><img src="http://static.qyer.com/images/place5/poi_star.png" alt=""><img src="http://static.qyer.com/images/place5/poi_star.png" alt=""><img src="http://static.qyer.com/images/place5/poi_star.png" alt=""><img src="http://static.qyer.com/images/place5/poi_star_half.png" alt=""></span><span class="sum"><a href="http://place.qyer.com/poi/58327/#poicommonlist" target="_blank" data-bn-ipg="place-city-poi-comment">137条点评</a></span></p>
                  <div class="useryelp">
                    <a href="http://www.qyer.com/u/2792600" target="_blank" class="face" data-bn-ipg="place-city-poi-avater"><img src="http://static.qyer.com/data/avatar/002/79/26/00_avatar_small.jpg" width="30" height="30" alt="asong91" title="asong91"></a>
                    <p class="text">一定要爬倒塔上去，风光很好</p>
                  </div>
                </li>
                <li>
                  <p class="pic"><a href="javascript:void(0);" data-placement="left" data-content="又称神仙殿，位于都实公园(Dusit Park)内，是世界上最大的金色柚木建筑，曾是泰王室行宫，内饰精美，建造过程中没有使用过一根钉子。参观要求着装整洁，必须穿长裙或者长裤。" data-bn-ipg="place-city-poi-pic" data-original-title="" title=""><img src="/album/1b7/8b/1841360/index/300_200" width="215" height="143" alt="柚木宫"></a></p>
                  <h3 class="title"><a href="http://place.qyer.com/poi/58331/" target="_blank" data-bn-ipg="place-city-poi-title">柚木宫</a></h3>
                  <p class="yelps clearfix"><span class="stars"><img src="http://static.qyer.com/images/place5/poi_star.png" alt=""><img src="http://static.qyer.com/images/place5/poi_star.png" alt=""><img src="http://static.qyer.com/images/place5/poi_star.png" alt=""><img src="http://static.qyer.com/images/place5/poi_star.png" alt=""><img src="http://static.qyer.com/images/place5/poi_star_null.png" alt=""></span><span class="sum"><a href="http://place.qyer.com/poi/58331/#poicommonlist" target="_blank" data-bn-ipg="place-city-poi-comment">68条点评</a></span></p>
                  <div class="useryelp">
                    <a href="http://www.qyer.com/u/2792600" target="_blank" class="face" data-bn-ipg="place-city-poi-avater"><img src="http://static.qyer.com/data/avatar/002/79/26/00_avatar_small.jpg" width="30" height="30" alt="asong91" title="asong91"></a>
                    <p class="text">地方不错，记得仔细看看墙上的照片，或许能感受到拉玛五世的不平凡</p>
                  </div>
                </li>
                <li>
                  <p class="pic"><a href="javascript:void(0);" data-content="胜利纪念碑是座军事纪念碑，属于罗马时代的建筑风格。
Victory Momument 胜利纪念碑 是一个曼谷市很著名的地标性建筑，它是一个交通枢纽，很多公交车都到这里，从这里去曼谷的任何地方都很方便，从机场来的公交车也到这里，然后可以转车去 考山路，唐人街。
胜利纪念碑 高大雄伟，旁边有士兵塑像。这里是一个大环岛，有天铁，有高架，有过街天桥，站在桥上视野很好，可以看到来来往往，穿流不息的车辆。" data-bn-ipg="place-city-poi-pic" data-original-title="" title=""><img src="/album/user/272/51/Q05XRxsDYA/index/300_200" width="215" height="143" alt="胜利纪念碑"></a></p>
                  <h3 class="title"><a href="http://place.qyer.com/poi/58727/" target="_blank" data-bn-ipg="place-city-poi-title">胜利纪念碑</a></h3>
                  <p class="yelps clearfix"><span class="stars"><img src="http://static.qyer.com/images/place5/poi_star.png" alt=""><img src="http://static.qyer.com/images/place5/poi_star.png" alt=""><img src="http://static.qyer.com/images/place5/poi_star.png" alt=""><img src="http://static.qyer.com/images/place5/poi_star_half.png" alt=""><img src="http://static.qyer.com/images/place5/poi_star_null.png" alt=""></span><span class="sum"><a href="http://place.qyer.com/poi/58727/#poicommonlist" target="_blank" data-bn-ipg="place-city-poi-comment">66条点评</a></span></p>
                  <div class="useryelp">
                    <a href="http://www.qyer.com/u/2792600" target="_blank" class="face" data-bn-ipg="place-city-poi-avater"><img src="http://static.qyer.com/data/avatar/002/79/26/00_avatar_small.jpg" width="30" height="30" alt="asong91" title="asong91"></a>
                    <p class="text">一个地标建筑，不知道记念什么，</p>
                  </div>
                </li>
                <li>
                  <p class="pic"><a href="javascript:void(0);" data-placement="left" data-content="原为巴斯德研究院，是世界仅有的两大毒蛇研究所之一，也被称为“蛇医院”。它在东南亚是独一无二的，以研究毒蛇著称。工作人员收集毒蛇，取其毒液做抗毒血清，医治被毒蛇咬伤的病人。

泰国被称为毒蛇的宝库，出产的蛇类非常多。研究所附设的毒蛇场内饲养着大量活生生的毒蛇，数千条毒蛇分门别类，饲养在设备良好的玻璃房里。眼镜蛇、蝮蛇、赤练蛇、金环蛇、银环蛇等数十种毒蛇，或盘成环状在地上睡眠、休息，或攀在树木上，居高临下，悠然自得。

游客们可以在此看到专门人员空手捉蛇、白鼠喂蛇以及抽取蛇毒的示范表演。有时则可以观看到鼬鼠与毒蛇混战的精彩场面。" data-bn-ipg="place-city-poi-pic" data-original-title="" title=""><img src="/album/118/3d/1839816/index/300_200" width="215" height="143" alt="毒蛇研究所(蛇园)"></a></p>
                  <h3 class="title"><a href="http://place.qyer.com/poi/41131/" target="_blank" data-bn-ipg="place-city-poi-title">毒蛇研究所(蛇园)</a></h3>
                  <p class="yelps clearfix"><span class="stars"><img src="http://static.qyer.com/images/place5/poi_star.png" alt=""><img src="http://static.qyer.com/images/place5/poi_star.png" alt=""><img src="http://static.qyer.com/images/place5/poi_star_half.png" alt=""><img src="http://static.qyer.com/images/place5/poi_star_null.png" alt=""><img src="http://static.qyer.com/images/place5/poi_star_null.png" alt=""></span><span class="sum"><a href="http://place.qyer.com/poi/41131/#poicommonlist" target="_blank" data-bn-ipg="place-city-poi-comment">25条点评</a></span></p>
                  <div class="useryelp">
                    <a href="http://www.qyer.com/u/3179734" target="_blank" class="face" data-bn-ipg="place-city-poi-avater"><img src="http://static.qyer.com/data/avatar/003/17/97/34_avatar_small.jpg" width="30" height="30" alt="糖炒链子" title="糖炒链子"></a>
                    <p class="text">这个明显就是跟团的弊病啦，各种表演推销，蛇的种类并没有很多，大家懂的。</p>
                  </div>
                </li>
              </ul>
            </div>
            <div class="tab-pane fade" id="locus">
              <h2>派出所</h2>
              <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.hk/maps?num=50&amp;safe=strict&amp;ie=UTF8&amp;q=bangkok+police+station+map&amp;fb=1&amp;gl=cn&amp;hq=police+station&amp;hnear=%E6%B3%B0%E5%9B%BD%E6%9B%BC%E8%B0%B7&amp;t=m&amp;brcurrent=3,0x0:0x0,0%3B5,0,0&amp;ll=13.805679,100.538156&amp;spn=0.3096,0.166756&amp;output=embed"></iframe><br><small><a href="https://maps.google.com.hk/maps?num=50&amp;safe=strict&amp;ie=UTF8&amp;q=bangkok+police+station+map&amp;fb=1&amp;gl=cn&amp;hq=police+station&amp;hnear=%E6%B3%B0%E5%9B%BD%E6%9B%BC%E8%B0%B7&amp;t=m&amp;brcurrent=3,0x0:0x0,0%3B5,0,0&amp;ll=13.805679,100.538156&amp;spn=0.3096,0.166756&amp;source=embed" style="color:#0000FF;text-align:left">查看大图</a></small>

              <h2>医院诊所</h2>
              <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.hk/maps?f=q&amp;source=s_q&amp;hl=zh-CN&amp;geocode=&amp;q=hospital+and+clinic+bangkok&amp;aq=&amp;sll=13.749199,100.583476&amp;sspn=0.006513,0.009141&amp;gl=cn&amp;brcurrent=3,0x0:0x0,0%3B5,0,0&amp;ie=UTF8&amp;hq=hospital+and+clinic&amp;hnear=%E6%B3%B0%E5%9B%BD%E6%9B%BC%E8%B0%B7&amp;t=m&amp;ll=13.737106,100.553642&amp;spn=0.083052,0.197683&amp;output=embed"></iframe><br><small><a href="https://maps.google.com.hk/maps?f=q&amp;source=embed&amp;hl=zh-CN&amp;geocode=&amp;q=hospital+and+clinic+bangkok&amp;aq=&amp;sll=13.749199,100.583476&amp;sspn=0.006513,0.009141&amp;gl=cn&amp;brcurrent=3,0x0:0x0,0%3B5,0,0&amp;ie=UTF8&amp;hq=hospital+and+clinic&amp;hnear=%E6%B3%B0%E5%9B%BD%E6%9B%BC%E8%B0%B7&amp;t=m&amp;ll=13.737106,100.553642&amp;spn=0.083052,0.197683" style="color:#0000FF;text-align:left">查看大图</a></small>

              <h2>便利店</h2>
              <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.hk/maps?f=q&amp;source=s_q&amp;hl=zh-CN&amp;geocode=&amp;q=%E4%BE%BF%E5%88%A9%E5%BA%97&amp;aq=&amp;sll=13.737106,100.553642&amp;sspn=0.208439,0.292511&amp;gl=cn&amp;brcurrent=3,0x0:0x0,0%3B5,0,0&amp;ie=UTF8&amp;hq=%E4%BE%BF%E5%88%A9%E5%BA%97&amp;hnear=&amp;t=m&amp;ll=13.737106,100.553642&amp;spn=0.208439,0.292511&amp;output=embed"></iframe><br><small><a href="https://maps.google.com.hk/maps?f=q&amp;source=embed&amp;hl=zh-CN&amp;geocode=&amp;q=%E4%BE%BF%E5%88%A9%E5%BA%97&amp;aq=&amp;sll=13.737106,100.553642&amp;sspn=0.208439,0.292511&amp;gl=cn&amp;brcurrent=3,0x0:0x0,0%3B5,0,0&amp;ie=UTF8&amp;hq=%E4%BE%BF%E5%88%A9%E5%BA%97&amp;hnear=&amp;t=m&amp;ll=13.737106,100.553642&amp;spn=0.208439,0.292511" style="color:#0000FF;text-align:left">查看大图</a></small>
            </div>
          </div>
        </div>
      </div>

      <div class="content-main highlight">
        <h1>旅行贴士</h1>
        <div class="bs-example">
          <ul class="nav nav-tabs" style="margin-bottom: 15px;">
            <li class="active"><a href="#weather" data-toggle="tab">天气</a></li>
            <li class=""><a href="#customs" data-toggle="tab">风俗禁忌</a></li>
            <li class=""><a href="#festival" data-toggle="tab">近期节日</a></li>
          </ul>
          <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="weather">
              <!--copy begin here:-->
              <style type="text/css">#fx_convert_1 br {display:none;}</style><div style="width:150px;text-align:center;" id="fx_convert_1"><div id="xcolorc1_1" style="border:1px solid #000;background-color:#f0ece9;padding: 0px 0px;margin: 0px 0px;align:center;overflow:hidden;"><div id="xcolorc1_2" style="font-size:12px;color:#183a00;line-height:16px;font-family: arial; font-weight:bold;background:#f0ece9;padding: 3px 1px;text-align:center;"><a href="http://cn.weatherq.org/Bangkok" alt="曼谷 - Bangkok 天气" title="曼谷 - Bangkok 天气" id="xweather_link" style="color:#000000;font-size:14px;text-decoration:none;line-height:16px;font-family: arial;">曼谷  天气</a></div><div id="clockcnBangkok1" style="font-size: 1em;font-family: arial; font-weight:bold"></div><script src="http://cn.weatherq.org/zw1.php?z=Etc/GMT+7&amp;co=cn&amp;ci=Bangkok&amp;t=1&amp;cl=0"></script><table width="100%" style="background-color:#ffffff;color:#333333;font-size:12px;" border="0" cellspacing="0"><tbody><tr height="8px"><td>&nbsp;</td></tr><tr style="background-color:#ffffff;align:center;text-align:center;"><td><img src="http://cn.weatherq.org/img/sun.gif"></td></tr><tr style="background-color:#ffffff;align:center;text-align:center;height:20px;"><td>晴朗</td></tr><tr style="background-color:#ffffff;align:center;text-align:center;height:20px;"><td>87°F°C&nbsp;&nbsp;(189°F)</td></tr><tr style="background-color:#ffffff;align:center;text-align:center;height:20px;"><td>气压:29.8in</td></tr><tr style="background-color:#ffffff;align:center;text-align:center;height:20px;"><td>湿度:51%</td></tr><tr style="background-color:#ffffff;align:center;text-align:center;height:20px;"><td>风力:7 mph E</td></tr></tbody></table></div></div>
              <!--copy end here:-->
            </div>
            <div class="tab-pane fade" id="customs">
              <p>正所谓入乡随俗，无论去到哪里旅游，记住当地一些禁忌是非常重要的，这样不仅可以避免很多麻烦，同时也可以使你玩得更加尽兴。以下是曼谷当地的一些禁忌：<br>（1）在曼谷，每个人都要非常重视自己的言论，尤其是对国王和王室成员；因为国王和王室成员是非常受人尊重的，如果稍有言辞不慎，就会受到泰国法律的处罚，即使外国人也不可触犯，所以在泰国要谨慎小心；如果遇到有王室出席的场合，更要懂得谨言慎行；<br>（2）人们视头部为神圣之处，因此不要随便触摸别人的头部；如果你无意中碰及他人的头部，应立即诚恳地道歉；泰国人特别忌讳外人抚摸小孩（尤其是小和尚）的头部，小孩子的头只允许国王、僧侣和自己的父母抚摸；<br>（3）公众场合不要做出过于亲昵的举动，如拥抱、亲吻等，仅在某些海滩允许裸体晒日光浴；<br>（4）避免使用暴力和粗鲁的语言，遇事要克制忍耐——这也是泰国人“乐天安命”的处世态度；<br>（5）人们不用红笔签名，因为泰国人死后要用红笔在棺材口写上其姓氏；<br>（6）泰历每年12月15日要举行水灯节，在观看水灯时一定要注意，无论那水灯多么精致美丽，都绝对不能拣起来；&nbsp;<br>（7）进入寺庙要脱鞋，服装应整齐、端庄，最好不要穿短裤；女性避免碰触僧侣，如奉献财物，可请男士代劳，或直接放在桌上即可；<br>（8）曼谷禁赌，即使酒店房间也不能玩牌或打麻将。</p>
            </div>
            <div class="tab-pane fade" id="festival">
              <p>2013年的水灯节会如期举行，会在全国7地举办活动。 其中： 清迈是11月10-18日，在塔佩门等处； 素可泰是11月13-17日，在历史公园处； 曼谷是11月15-17日，在Asiatique处； 达府则是11月15-20日； 大城、Samut Songkram府（在二世王公园及安帕哇举行）和素攀府（在踏金河畔举行）则是11月17日举行。</p>
            </div>
          </div>
        </div>
      </div>

      <div class="content-main highlight">
        <h1>地图服务</h1>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, asperiores, perferendis a eveniet ipsa ea deleniti minus ut doloribus minima provident perspiciatis fuga velit pariatur quasi molestias eum molestiae excepturi?

        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, hic, quod, velit dicta deserunt assumenda earum autem optio ipsam tempore corporis praesentium sapiente officia officiis corrupti ipsa animi veniam quaerat.
      </div>
    </div>

<div class="col-md-4">
  <div class="content-main highlight">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, ab ipsum aut atque nulla voluptatem dicta. Aliquam, id sed rem veritatis asperiores? Magni, ea natus corporis nobis itaque atque sequi.
  </div>
</div>