<div class="col-md-8">
  <div class="content-main highlight">
    <p id="notice"><%= notice %></p>

    <h1>概览</h1>

    <p>
      <b>Name:</b>
      <%= @place.name %>
    </p>


    <%= link_to 'Edit', edit_place_path(@place) %> |
    <%= link_to 'Back', places_path %>

    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, nobis, non, esse, repellendus deleniti veritatis eius tempora facere fuga saepe aliquam assumenda nam ex expedita voluptatem vitae repudiandae magnam quos.
  </div>

  <div class="content-main highlight">
    <h1>自选助手</h1>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, asperiores, perferendis a eveniet ipsa ea deleniti minus ut doloribus minima provident perspiciatis fuga velit pariatur quasi molestias eum molestiae excepturi?

    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, hic, quod, velit dicta deserunt assumenda earum autem optio ipsam tempore corporis praesentium sapiente officia officiis corrupti ipsa animi veniam quaerat.
  </div>

  <div class="content-main highlight">
    <h1>配套服务</h1>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, asperiores, perferendis a eveniet ipsa ea deleniti minus ut doloribus minima provident perspiciatis fuga velit pariatur quasi molestias eum molestiae excepturi?

    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, hic, quod, velit dicta deserunt assumenda earum autem optio ipsam tempore corporis praesentium sapiente officia officiis corrupti ipsa animi veniam quaerat.
  </div>

  <div class="content-main highlight">
    <h1>经典助游</h1>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, asperiores, perferendis a eveniet ipsa ea deleniti minus ut doloribus minima provident perspiciatis fuga velit pariatur quasi molestias eum molestiae excepturi?

    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, hic, quod, velit dicta deserunt assumenda earum autem optio ipsam tempore corporis praesentium sapiente officia officiis corrupti ipsa animi veniam quaerat.
  </div>

  <div class="content-main highlight">
    <h1>旅行贴士</h1>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, asperiores, perferendis a eveniet ipsa ea deleniti minus ut doloribus minima provident perspiciatis fuga velit pariatur quasi molestias eum molestiae excepturi?

    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, hic, quod, velit dicta deserunt assumenda earum autem optio ipsam tempore corporis praesentium sapiente officia officiis corrupti ipsa animi veniam quaerat.
  </div>

  <div class="content-main highlight">
    <h1>地图服务</h1>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, asperiores, perferendis a eveniet ipsa ea deleniti minus ut doloribus minima provident perspiciatis fuga velit pariatur quasi molestias eum molestiae excepturi?

    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, hic, quod, velit dicta deserunt assumenda earum autem optio ipsam tempore corporis praesentium sapiente officia officiis corrupti ipsa animi veniam quaerat.
  </div>
</div>

<div class="col-md-4">
  <div class="content-main highlight">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, ab ipsum aut atque nulla voluptatem dicta. Aliquam, id sed rem veritatis asperiores? Magni, ea natus corporis nobis itaque atque sequi.
  </div>
</div>